/* -------------------------------- variables ------------------------------- */
:root {
	--main_firm_clr: #ff7200;
	--firm_clr_opacity: rgba(255, 114, 0, .85);
	--top_header: #202020;
	--dark: #1a3138;
	--black_light: #193137;
	--black: #000;
	--black_hover: rgba(0, 0, 0, 0.65);
	--white: #fff;
	--gray_light: #f5f5f5;
	--btn_first: #ff7200;
	--btn_first_hov: #E65900;
	--btn_second: #ff7200;
	--border_clr: rgb(230, 230, 230);
	--red: #ee2f43;
	--top_header_nav_link: rgb(153, 153, 151);
	--white_opacity: rgba(255, 255, 255, .65);
	--gray: #b2b2b2;
}

/* ------------------------------- / variables ------------------------------ */


/* -------------------------------- utilities ------------------------------- */
body {
	overflow-x: hidden;
	box-sizing: border-box;
	/* font-family: 'Open Sans', Arial, sans-serif; */
	font-family: 'Arial', sans-serif;
	position: relative;
}

img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}

a {
	font-weight: 600;
}

i {
	font-style: italic;
}

b {
	font-weight: 700;
}

.container__original {
	max-width: 1098px;
	margin: 0 auto;
	/* border: 1px solid red; */
}

.container {
	max-width: 1558px;
	margin: 0 auto;
	/* border: 1px solid red; */
}

/* 
.btn__cta_first {
	background-color: var(--btn_first);
	font-size: 15px;
	color: var(--white);
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 16px 10px 68px;
	width: auto;
	border-radius: 2px;
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	-o-transition: .1s;
	position: relative;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 26%);
} */

/* .btn__cta_first:hover {
	background-color: var(--btn_first_hov);
	color: var(--white);
} */

/* .btn__cta_first:active {
	background-color: var(--btn_first);
	box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
} */

/* .btn__cta_first::before {
	content: "";
	background-image: url(../img/icons/calendarwhite.svg);
	background-size: cover;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 24px;
} */

/* .btn__cta_first img {
	width: 18px;
	margin-right: 15px;
} */

/* .btn__cta_second {
	padding: 8px 18px;
	border-radius: 2px;
	font-size: 14px;
	border-radius: 2px;
	border: 1px solid var(--btn_second);
	font-weight: 600;
	color: var(--btn_second);
	text-transform: uppercase;
	border-radius: 2px;
	cursor: pointer;
	transition: .1s;
	background-color: transparent;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	-o-transition: .1s;
} */

/* .btn__cta_second:hover {
	color: var(--white);
	background-color: var(--btn_second);
	box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 26%);
} */

/* .btn__cta_second:active {
	box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
} */

/* .btn__cta_trhee {
	padding: 10px 14px;
	font-size: 9px;
	background-color: #f60;
	color: var(--white);
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

.btn__cta_trhee:hover {
	cursor: pointer;
	color: inherit;
	box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 26%);
}

.btn__cta_trhee:active {
	box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);

}

.btn__cta_trhee img {
	max-width: 15px;
	object-fit: cover;
	display: none;
} */


/* .btn__cta_four {
	padding: 8px 18px;
	font-size: 14px;
	font-weight: 500;
	color: var(--main_firm_clr);
	text-transform: lowercase;
	background-color: transparent;
	cursor: pointer;
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	-o-transition: .1s;
} */

.no_scroll {
	overflow: hidden;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}

.hide {
	position: absolute;
	left: -100vw;
	width: 0px;
	height: 0px;
	opacity: 1;
	z-index: -1;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
}

/* ------------------------------- / utilities ------------------------------ */
/* -------------------------------- page main ------------------------------- */
/* hero block */
.hero__main {
	background: url(../img/hero2.jpeg) no-repeat center gray;
	background-size: cover;
	width: 100%;
	height: 282px;
	margin-top: -36px;
	margin-bottom: 35px;
	padding: 15px 100px;
	position: relative;
	z-index: 0;
}

.hero__main_ovelay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .21)
}

.hero__main_inner {
	display: flex;
	justify-content: space-between;
}

.diskount_wrap {
	max-width: 300px;
	margin-top: 146px;
	margin-left: auto;
}

.diskount_inner {
	position: relative;
}

.discount__head {
	padding: 5px 10px;
	font-size: 18px;
	text-align: center;
	background-color: #f86403;
	color: #fff;
}

.diskount__body {
	padding: 10px 20px 10px 40px;
	color: #525252;
	background-color: #fff;
}

.diskount__body a {
	color: #f86403;
}

.discount__icon {
	width: 50px;
	height: 50px;
	padding: 10px;
	position: absolute;
	top: -3px;
	left: -15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f86403;
	color: #fff;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.consult__wrap {
	width: 390px;
	position: fixed;
	bottom: 10vh;
	right: 3vw;
	overflow: hidden;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	-webkit-box-shadow: 4px 4px 15px 4px rgba(94,94,94,0.75); 
	box-shadow: 4px 4px 15px 4px rgba(94,94,94,0.75);
}

.consult__head {
	padding: 2px 10px 2px 10px;
	font-size: 18px;
	display: flex;
	align-items: center;
	color: #fff;
	background-color: #f86403;
	position: relative;
	z-index: 2;
}

.consult__head > img {
	margin-right: 24px;
	max-width: 65px;
}

.consult__head button {
	padding-left: 15px;
	padding-bottom: 15px;
	background: transparent;
	position: absolute;
	top: 10px;
	right: 10px;
}

.consult__head button img {
	width: 20px;
}

.consult__body {
	padding: 30px 10px 10px;
	background-color: #fff;
}

.consult__body {
	text-align: center;
	color: #525252;
}

.consult__body span {
	display: block;
	margin-bottom: 28px;
}

.consult__body_inner {
	display: flex;
	justify-content: space-around;
	flex: 1 1 auto;
}

.consult__type {
	width: calc(50% - 10px);
	margin: 0 5px 15px;
	font-size: 13px;
	flex: 1 1 auto;
}

.consult__type_inner {
	border: 2px solid #e9e9e9;
	padding: 15px 3px 0px;
	border-bottom: 0;
	height: 178px;
}

.consult__type_inner span {
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 20px;
}

.consult__type_inner p {
	display: block;
	color: #757474;
	;
}

.consult__type a {
	padding: 12px;
	display: block;
	font-weight: 400;
	color: #fff;
	background-color: #f86403;
}

@media screen and (max-width: 1200px) {
	.hero__main {
		margin-top: -20px;
	}
}

@media screen and (max-width: 992px) {
	.hero__main {
		padding: 15px 10px 10px 20px;
	}
}

@media screen and (max-width: 752px) {
	.hero__main {
		height: 200px;
	}
	.hero__main_inner {
		flex-direction: column;
	}
	.diskount_wrap {
		margin-top: 80px;
		margin-bottom: 20px;
	}
	.consult__wrap {
		width: 200px;
	}
	.consult__body {
		padding: 10px 5px 5px;
	}
	.consult__body span {
		margin-bottom: 15px;
	}
	.consult__body_inner {
		flex-wrap: wrap;
	}
	.consult__type_inner {
		display: none;
	}
	.consult__type {
		margin: 0 5px 5px;
	}
	.diskount__body {
		padding: 5px 5px 5px 30px;
	}
	.consult__head img {
		max-width: 40px;
	}
	.consult__head h3 {
		font-size: 14px;
	}
}


/* pluses */
.pluses {
	margin-bottom: 80px;
	/* max-width: 1200px; */
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}

.pluses h2 {
	margin-bottom: 30px;
	font-size: 28px;
	font-weight: 400;
	text-align: center;
	color: #414141;
}

.pluses__btn_cta {
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 15px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	font-size: 15px;
	color: #fff;
	background-color: #f86403;
	text-transform: uppercase;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

.pluses__btn_cta img {
	margin-right: 10px;
	width: 15px;
}

.pluses__btn_cta:hover {
	color: #fff;
}

.pluses h3 {
	margin-bottom: 25px;
	font-size: 21px;
	font-weight: 400;
	text-align: center;
	/* color: #414141; */
}

.pluses__list_top {
	display: flex;
	align-items: flex-start;
	margin-bottom: 15px;
}

.pluses__list_top li {
	margin: 20px 0;
	padding: 0 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 274px;
	width: 25%;
}


.pluses__top_icon {
	margin: 0 auto;
	margin-bottom: 15px;
	width: 90px;
	height: 90px;
	padding: 10px;
	border-radius: 60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
}


.pluses__list_top h3 {
	margin-bottom: 15px;
	font-size: 17px;
	font-weight: 700;
	text-decoration: underline;
}

.pluses__list_top p {
	margin-bottom: 15px;
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
	color: #757474;
}

.pluses__list_top p b {
	color: #000;
}

.pluses__list_bot {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.pluses__list_bot li {
	margin: 20px 0px;
	padding: 0 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* text-align: center; */
	width: calc(25%);
}

.pluses__list_bot p {
	text-align: center;
	width: 80%;
	font-size: 14px;
	color: #757474;
}

.pluses__bot_icon {
	margin-right: 10px;
	margin-bottom: 10px;
	max-width: 30px;
	max-height: 30px;
	padding: 5px;
	width: 100%;
	background-color: #35aeff;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	display: block;
}

.pluses_center {
	margin-bottom: 10px;
	padding: 0 10px;
}

.pluses_center ul {
	margin-bottom: 17px;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.pluses_center li {
	width: 19%;
}

.pluses_center a {
	padding: 10px 20px;
	font-weight: 400;
	font-size: 15px;
	/* font-size: 21px; */
}

.pluses_center p {
	font-size: 17px;
	text-align: center;
}


@media screen and (max-width: 1070px) {
	.pluses__list_top,
	.pluses__list_bot {
		flex-wrap: wrap;
	}
	.pluses__list_top li,
	.pluses__list_bot li {
		width: 50%;
		margin: 10px 0;
	}
	.pluses__list_top {
		margin-bottom: 40px;
	}
	.pluses_center ul {
		flex-wrap: wrap;
	}
	.pluses_center li {
		width: calc(50% - 30px);
	}
}

@media screen and (max-width: 550px) {
	.pluses__list_top li,
	.pluses__list_bot li {
		width: 100%;
	}
	.pluses__list_top {
		margin-bottom: 40px;
	}
	.pluses_center li {
		width: calc(100% - 20px);
	}
}



/* examples slider */
.examples {
	margin-bottom: 60px;
}


.examples_header {
	margin-bottom: 20px;
}

.examples_header h2 {
	font-size: 30px;
	font-weight: 700;
	display: inline;
}

.examples_header span {
	font-size: 15px;
	font-style: italic;
	display: inline;
}

.example__img_wrap {
	width: 100%;
	height: 240px;
	overflow: hidden;
	margin-bottom: 10px;
}

.example__img_wrap img {
	object-fit: cover;
	height: 240px;
	transition: .9s;
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
}

.example__img_wrap img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.examples__slide {
	width: 100%;
}

.examples__slide h3 {
	font-size: 19px;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 10px;
}

.examples__slide span {
	font-size: 12px;
	font-weight: 600;
	color: #999997;
	text-transform: uppercase;
}

.examples__slider .swiper-button-next,
.examples__slider .swiper-button-prev {
	color: #e0e0e0;
}

.examples__slider	.swiper-pagination {
	display: none;
}


@media screen and (max-width: 1557px) {
	.example__img_wrap img {
   	height: auto;
	}
	.examples__slider	.swiper-pagination {
		display: block;
	}
	.examples__slider  {
		padding-bottom: 30px;
	}
	.examples__slider .swiper-pagination-bullet-active {
		background: #f86403;
	}
}

@media screen and (max-width: 1300px) {
	.examples .examples_header span {
		margin-top: 10px;
		display: block;
	}
}

@media screen and (max-width: 992px) {
	.example__img_wrap {
		height: 340px;
	}
}


/* CHOICE SLIDER */
.choice__kitchen {
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
}

.choice__left {
	width: 30%;
	padding-top: 50px;
}

.choice__right {
	width: 65%;
}

.choice__left .advantages {
	padding: 0 0 0 10px;
}

.choice__kitchen_slider {
	padding-bottom: 20px;
}

.choice__kitchen_slider	.swiper-pagination {
	bottom: 0;
}

.choice__kitchen_slider	.swiper-pagination {
		display: none;
}



.choice__slide {
	background-color: #f7f7f7;
	transition: .9s;
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
}

.choice__slide:hover {
	background-color: #fff;
	box-shadow: 0 0 0 2px #f7f7f7 inset;
}

.choice__slide:hover .choice__slide_img_wrap img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.choice__slide_img_wrap {
	max-width: 100%;
	overflow: hidden;
}

.choice__slide_img_wrap img {
	transition: .9s;
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
}

.choice__slide_link {
	padding: 10px 10px 30px 10px;
	height: 340px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.choice__slide_link:after {
	content: "";
	background-image: url(../img/icons/next.svg);
	background-size: cover;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: block;
}

.choice__slide_link h4 {
	font-size: 12px;
	font-weight: 400;
	color: #c7c7c7;
}

.choice__slide_link h3 {
	font-size: 19px;
	font-weight: 700;
	font-style: italic;
}

.choice__slide_link p {
	margin-top: 12px;
	font-size: 13px;
	font-weight: 400;
	color: #414141;
}

@media screen and (max-width: 1558px) {
	.choice__kitchen_slider	.swiper-pagination {
		display: block;
	}
	.choice__kitchen_slider .swiper-pagination-bullet-active {
		background: #f86403;
	}
}

@media screen and (max-width: 1250px) {
	.choice__kitchen {
		flex-direction: column;
	}
	.choice__left,
	.choice__right {
		width: 100%;
	}
	.choice__left .advantages {
		padding: 0 10px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.choice__left .advantages__item {
		width: calc(50% - 10px);
	}
}

@media screen and (max-width: 768px) {
	.choice__left .advantages__item {
		width: 100%;
	}
	.choice__right .examples_header span {
		margin-top: 10px;
		display: block;
	}
}



/* advantages */
.advantages__item {
	display: flex;
	margin-bottom: 30px;
}

.advantages__item img {
	max-width: 70px;
	max-height: 70px;
	margin-right: 25px;
}

.advantages__item h5 {
	margin-bottom: 10px;
	padding-top: 5px;
	font-size: 16px;
	font-weight: 700;
}

.advantages__item p {
	font-size: 14px;
	color: #414141;
}

/* kitchcen firms */
.kitchcen__firms {
	margin-bottom: 23px;
}

.kitchcen__firms_head {
	margin-bottom: 25px;
	display: flex;
	align-items: baseline;
}

.kitchcen__firms_head h2 {
	margin-right: 10px;
	font-size: 32px;
	font-weight: 700;
	display: inline-block;
}

.kitchcen__firms_head span {
	font-size: 17px;
	display: inline-block;
}

.kitchcen__firms_wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.kitchcen__firm {
	width: calc(25% - 10px);
}

.kitchcen__firm_img_wrap {
	margin-bottom: 15px;
	max-width: 100%;
	height: 265px;
	overflow: hidden;
}

.kitchcen__firm_img_wrap img {
	height: 100%;
	transition: .9s;
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
}

.kitchcen__firm:hover .kitchcen__firm_img_wrap img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.firm_logo {
	margin-bottom: 30px;
	height: 25px;
}

.firm_logo_3 {
	margin-top: -10px;
	margin-bottom: 11px;
	height: 43px;
}

.firm_logo_4 {
	margin-top: -3px;
	margin-bottom: 24px;
	height: 34px;
}

.kitchcen__firm p {
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	/* letter-spacing: 1px; */
	color: #414141;
}

.kitchcen__firms_btns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 110px;
}

.kitchcen__firms_btns a {
	padding: 15px 30px;
	width: calc(33.33% - 30px);
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: #f86403;
}

.kitchcen__firms_btns img {
	width: 35px;
	margin-right: 20px;
}

@media screen and (max-width: 1200px) {
	.kitchcen__firms_head {
		flex-wrap: wrap;
	}
	.kitchcen__firms_wrap {
		flex-wrap: wrap;
	}
	.kitchcen__firm {
		margin-bottom: 30px;
		width: calc(50% - 10px);
	}
	.kitchcen__firm_img_wrap {
		width: 100%;
    height: 350px;
	}
	.kitchcen__firm_img_wrap img {
		width: 100%;
    height: 100%;
	}
	.kitchcen__firms_btns a {
		padding: 15px 20px;
		margin-bottom: 20px;
		/* width: calc(33.33% - 10px); */
		width: auto;
	}
}

@media screen and (max-width: 992px) {
	.kitchcen__firms_btns {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 768px) {
	.kitchcen__firms_head {
		flex-direction: column;
		align-items: center;
	}
	.kitchcen__firm {
		width: calc(100%);
	}
	.kitchcen__firm_img_wrap {
		height: auto;
	}
	/* .kitchcen__firm_img_wrap img {
		width: auto;
		height: 100%;
	} */
	.kitchcen__firm_img_wrap img {
		height: 300px;
		width: 100%;
	}
	.firms__head_item {
		width: auto;
		margin-bottom: 15px;
	}
	.firms__head_first {
		width: 100%;
	}
}


.kitchcen__firms .advantages {
	padding: 0 75px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.kitchcen__firms .advantages__item {
	width: calc(50% - 60px);
	margin-bottom: 60px;
}

@media screen and (max-width: 1200px) {
	.kitchcen__firms .advantages {
		padding: 0 10px;
	}
	
	.kitchcen__firms .advantages__item {
		width: 50%;
		padding: 0 10px;
	}
}

@media screen and (max-width: 768px) {
	.kitchcen__firms .advantages__item {
		width: 100%;
	}
}


/* discount block */
.discount__block {
	position: relative;
	margin-bottom: 64px;
	padding: 0  0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.discount__block_left {
	/* width: 24%; */
	/* margin-top: -10px; */
	margin-right: 30px;
}
.discount__block_center {
	/* padding-left: 40px; */
	width: 60%;
}
.discount__block_right {
	width: 24%;
}

.discount__block_right img {
	margin-top: -20px;
	margin-right: 60px;
	height: 250px;
}

.discount__block_center h2 {
	margin-bottom: 17px;
	padding-top: 40px;
	font-size: 21px;
	font-weight: 800;
	text-transform: uppercase;
}

.discount__block_center p {
	margin-bottom: 35px;
	font-size: 15px;
	line-height: 1.5;
}

.discount__block_right {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.discount__circle {
	padding: 30px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 210px;
	height: 210px;
	background-color:#f86403;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}

.discount__circle h3 {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #fff;
}

.discount__circle h3:nth-child(2) {
	display: none;
}

@media screen and (max-width: 1200px) {
	.discount__block_right {
		display: none;
	}
	.discount__block_center {
		width: 75%;
	}
}

@media screen and (max-width: 992px) {
	.discount__block {
		position: relative;
	}
	.discount__circle {
		display: none;
		/* position: absolute;
		top: -50px;
		left: 10px; */
	}
}
@media screen and (max-width: 768px) {
	.discount__block_left {
		display: none;
		/* width: 0;
		position: absolute;
		right: 0;
		top: 60px; */
		/* width: 100%; */
	}
	.discount__circle {
		display: none;
		/* position: absolute;
		top: -35px;
		right: 10px;
		padding: 15px 5px;
		width: 60px;
		height: 60px; */
	}
	.discount__circle h3:first-child {
		display: none;
	}
	.discount__circle h3:nth-child(2) {
		display: block;
		/* font-size: 14px; */
	}
	.discount__block_left {
		width: 0;
	}
	.discount__block_center {
		width: 100%;
	}
}




/* popular block */

.popular__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.popular__bot {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.popular h2 {
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 700;
}

.top__item {
	margin-bottom: 20px;
	width: calc(33.33% - 10px);
	height: 280px;
	position: relative;
	overflow: hidden;
}

.bot__item {
	margin-bottom: 20px;
	width: calc(25% - 10px);
	height: 220px;
	position: relative;
	overflow: hidden;
}

.top__item:hover .popular__item_img,
.bot__item:hover .popular__item_img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.top__item img,
.bot__item img {
	height: 100%;
	width: 100%;
	
	transition: .9s;
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
}

.top__item a,
.bot__item a {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #fff;
	background-color: #f86403;
	opacity: .8;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.top__item a:hover ,
.bot__item a:hover {
	opacity: 1;
}

.top__item a img,
.bot__item a img {
	margin-right: 5px;
	max-width: 10px;
}

@media screen and (max-width: 1300px) {
	.top__item {
		height: auto;
	}
	.bot__item {
		height: auto;
	}
}

@media screen and (max-width: 992px) {
	.popular__bot {
		flex-wrap: wrap;
	}
	.bot__item {
    width: calc(50% - 10px);
	}
}

@media screen and (max-width: 768px) {
	.popular__top {
		flex-wrap: wrap;
	}
	.top__item {
    width: calc(50% - 10px);
	}
	.top__item:nth-child(3) {
    margin: 0 auto;
	}
	.top__item a, 
	.bot__item a {
		padding: 5px 10px;
		font-size: 14px;
	}
}
@media screen and (max-width: 450px) {
	.popular__top {
		flex-wrap: wrap;
	}
	.top__item {
    width: 100%;
	}
}



/* postup */
.postup {
	margin-bottom: 60px;
}

.postup h2 {
	margin-bottom: 14px;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
}

.postup span {
	display: block;
	text-align: center;
	font-size: 19px;
	color: #414141;
}


.postup__inner {
	padding: 0 3vw;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.postup__item {
	margin-bottom: 70px;
	padding: 30px 10px;
	width: calc(40% - 0px);
	position: relative;
}

.postup__item:nth-child(2)::before,
.postup__item:nth-child(4)::before {
	content: "";
	width: 70px;
	height: 70px;
	position: absolute;
	top: 30px;
	left: -140px;
	background-image: url(../img/icons/test3.svg);
	background-size: cover;
	opacity: .6;
	transform: rotate(-48deg) ;
	-webkit-transform: rotate(-48deg) ;
	-moz-transform: rotate(-48deg) ;
	-ms-transform: rotate(-48deg) ;
	-o-transform: rotate(-48deg) ;
}

.postup__item p {
	padding-left: 60px;
	font-size: 17px;
	color: #414141;
}


.postup__head {
	margin-bottom: 13px;
	display: flex;
	font-size: 17px;
	font-weight: 700;
	color: #414141;
}

.postup__head h3 {
	padding-top: 10px;
	height: auto;
	width: 90%;
}

.postup__num {
	margin-right: 20px;
	min-width: 40px;
	height: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	background-color: #9C7FBA;
	opacity: 0.6;
}

.postup__num span {
	color: #fff;
}

.postup .pluses_center {
	margin-top: 35px;
}


@media screen and (max-width: 1300px) {
	.postup__item {
		padding: 20px 5vw;
		width: 40%;
	}
	.postup__inner {
		padding: 0;
	}
	.postup__item {
		width: calc(50% - 20px);
	}
	.postup__item:nth-child(2)::before,
	.postup__item:nth-child(4)::before {
		top: 30px;
		left: -60px;
	}
}
@media screen and (max-width: 992px) {
	.postup__item {
		width: 100%;
		padding: 20px 10px;
	}
	.postup__item::before {
		display: none;
	}
}

/* ------------------------------- / page main ------------------------------ */


/* --------------------------------- choose --------------------------------- */

.choose__title {
	padding-bottom: 20px;
	font-size: 24px;
	text-align: center;
}




/* ------------------------------ page schuzka ------------------------------ */
.app {
	max-width: 992px;
	margin: 0 auto;
}


.app__controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}

.app__controls .btn__cta_second {
	border: 0;
}

/* ----------------------------- / page schuzka ----------------------------- */




/* ------------------------------ kitchen page ------------------------------ */
/* 1 page */
/* kitchen hero */
.kitchen__hero {
	margin-bottom: 120px;
}

.kitchen_page__item_desc h1 {
	font-size: 90px;
	font-weight: 700;
}

.kitchen__hero_img {
	padding: 0 50px;
	height: 774px;
	position: relative;
}

.kitchen__hero_img img {
	max-height: 774px;
	width: 100%;
}

.kitchen_page__item_desc {
	position: absolute;
	padding: 20px 10vw 30px 12vw;
	bottom: -60px;
	left: -1px;
	display: flex;
	align-items: center;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, white 90%);
}

.kitchen__hero_desc {
	margin-top: 80px;
	padding: 0 160px;
	display: flex;
}

.hero__desc_title,
.hero__desc_text {
	width: 50%;
}

.hero__desc_title {
	padding-right: 20px;
}

.hero__desc_title h2 {
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 700;
	color: var(--black);
}

.hero__desc_title a {
	margin-bottom: 25px;
	font-size: 20px;
	display: block;
	width: auto;
	text-transform: uppercase;
	color: #b2b2b2;
}

.hero__desc_title span {
	position: relative;
}

.hero__desc_title span:after {
	content: "";
	background-image: url(../img/icons/next.svg);
	background-size: cover;
	width: 22px;
	height: 22px;
	position: absolute;
	right: -25px;
	top: 0px;
	display: block;
}

.hero__desc_text p {
	line-height: 2;
	font-size: 20px;
	font-weight: 400;
}


/* kitchen short description */
.kitchen__short_desc {
	margin: 0 auto;
	margin-bottom: 175px;
	max-width: 926px;
	padding: 0 40px;
	overflow: hidden;
}

.short_desc_img {
	max-width: 926px;
	max-height: 615px;
	overflow: hidden;
}

.kitchen__img_wrap img {
	transition: .9s;
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
}

.kitchen__img_wrap img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.kitchen__short_desc p {
	margin-top: 40px;
	font-size: 21px;
	line-height: 2;
}


/* kitchen details */
.kitchen__details {
	margin-bottom: 175px;
	padding: 0 60px;
}

.kitchen__details h2 {
	font-size: 82px;
	margin-bottom: 115px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.kitchen__details_content {
	display: flex;
	justify-content: space-between;
}

.kitchen__details_text,
.kitchen__details_img {
	width: calc(50% - 20px);
	overflow: hidden;
}

.kitchen__details_img {
	max-width: 50%;
	max-height: 683px;
}

.kitchen__details_text p {
	font-size: 21px;
	line-height: 2;
	font-weight: 400;
}

.kitchen__details_text a {
	margin-top: 60px;
	display: block;
	max-width: fit-content;
	padding: 20px 30px;
	font-weight: 700;
	font-size: 21px;
	border-radius: 6px;
	color: var(--white);
	background-color: var(--black);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	text-transform: uppercase;
}


/* kitchen width */
.kitchen__width {
	padding: 0 60px;
	margin-bottom: 175px;
}

.kitchen__width_img {
	max-width: 100%;
	max-height: 531px;
	overflow: hidden;
}

.kitchen__width p {
	max-width: 926px;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 21px;
	line-height: 2;
}


@media screen and (max-width: 1400px) {
	.kitchen__hero_img {
		padding: 0 38px;
		max-height: 426px;
	}

	.kitchen__hero_img img {
		max-height: 426px;
	}

	.kitchen_page__item_desc h1 {
		font-size: 83px;
	}

	.hero__desc_title h2 {
		font-size: 26px;
	}

	.hero__desc_title a {
		font-size: 18px;
	}

	.hero__desc_text p {
		font-size: 18px;
	}

	.kitchen__short_desc p {
		font-size: 18px;
	}

	.kitchen__details {
		padding: 0 38px;
	}

	.kitchen__details h2 {
		font-size: 67px;
	}

	.kitchen__details_text p {
		font-size: 18px;
	}

	.kitchen__details_text a {
		font-size: 18px;
		padding: 15px 20px;
	}

	.kitchen__width {
		padding: 0 38px;
	}

	.kitchen__width p {
		font-size: 18px;
	}
}

@media screen and (max-width: 992px) {
	.kitchen__hero {
		margin-bottom: 80px;
	}

	.kitchen__hero_img {
		padding: 0 20px;
	}

	.kitchen__hero_desc {
		padding: 0 100px;
	}

	.kitchen_page__item_desc {
		padding: 20px 9vw 20px 9vw;
	}

	.kitchen_page__item_desc h1 {
		font-size: 69px;
	}

	.hero__desc_title h2 {
		font-size: 21px;
	}

	.hero__desc_title a {
		font-size: 16px;
	}

	.hero__desc_text p {
		font-size: 16px;
	}

	.hero__desc_title span:after {
		width: 17px;
		height: 17px;
		top: -1px;
	}

	.kitchen__short_desc {
		margin-bottom: 75px;
	}

	.kitchen__short_desc p {
		font-size: 16px;
	}

	.kitchen__details {
		margin-bottom: 80px;
		padding: 0 20px;
	}

	.kitchen__details h2 {
		font-size: 55px;
		margin-bottom: 35px;
	}

	.kitchen__details_text p {
		font-size: 16px;
	}

	.kitchen__details_text a {
		font-size: 16px;
		margin-bottom: 30px;
	}

	.kitchen__details_content {
		flex-direction: column;
	}

	.kitchen__details_text,
	.kitchen__details_img {
		width: 100%;
		max-width: 100%;
		max-height: 683px;
	}

	.kitchen__width {
		padding: 0 20px;
		margin-bottom: 80px;
	}

	.kitchen__width p {
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {
	.kitchen__hero_img {
		max-height: 343px;
	}

	.kitchen__hero_img img {
		max-height: 343px;
	}

	.kitchen__hero_desc {
		padding: 0 20px;
	}

	.kitchen_page__item_desc {
		padding: 20px 5vw 20px 5vw;
		bottom: -45px;
	}

	.kitchen_page__item_desc h1 {
		font-size: 50px;
	}

	.hero__desc_title h2 {
		font-size: 18px;
	}

	.hero__desc_text p {
		font-size: 14px;
	}

	.hero__desc_title span:after {
		width: 15px;
		height: 15px;
		top: 0px;
	}

	.kitchen__short_desc {
		margin-bottom: 60px;
		padding: 0 20px;
	}

	.kitchen__short_desc p {
		font-size: 14px;
		margin-top: 20px;
	}

	.kitchen__width p {
		font-size: 14px;
	}

	.kitchen__details h2 {
		font-size: 40px;
		margin-bottom: 25px;
	}

	.kitchen__details {
		padding: 0 20px;
		margin-bottom: 60px;
	}

	.kitchen__details_text p {
		font-size: 14px;
	}

	.kitchen__details_text a {
		font-size: 14px;
		padding: 13px 15px;
		/* margin-bottom: 30px; */
	}

}

@media screen and (max-width: 600px) {
	.kitchen__hero_img {
		max-height: 220px;
		padding: 0 10px;
	}

	.kitchen__hero_img img {
		max-height: 220px;
		padding: 0;
	}

	.kitchen_page__item_desc h1 {
		font-size: 46px;
	}

	.kitchen__hero_desc {
		margin-top: 40px;
		flex-direction: column;
	}

	.hero__desc_title,
	.hero__desc_text {
		width: 100%;
	}

	.hero__desc_title h2 {
		margin-bottom: 15px;
	}

	.hero__desc_title a {
		margin-bottom: 10px;
		font-size: 13px;
	}

	.hero__desc_title span:after {
		width: 13px;
		height: 13px;
		right: -20px;
	}

	.kitchen__short_desc {
		padding: 0 10px;
	}

	.kitchen__details {
		padding: 0 10px;
	}

	.kitchen__width {
		padding: 0 10px;
	}
}

@media screen and (max-width: 425px) {
	.kitchen__hero_img {
		height: auto;
	}

	.kitchen__hero_img img {
		padding: 0;
	}

	.kitchen_page__item_desc h1 {
		font-size: 38px;
	}

	.kitchen_page__item_desc {
		bottom: -36px;
	}

	.hero__desc_title a {
		margin-bottom: 10px;
		font-size: 13px;
	}

	.hero__desc_title span:after {
		width: 13px;
		height: 13px;
		right: -20px;
	}

	.kitchen__short_desc p {
		margin-top: 20px;
	}
}

/* kitchen front */

.kitchen__front {
	margin-bottom: 175px;
	padding: 0 60px;
}

.front__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.front__left,
.front__right {
	width: 50%;
}

.front__left h2 {
	font-size: 82px;
	font-weight: 700;
	margin-bottom: 20px;
}

.front__left span {
	font-size: 21px;
	font-weight: 700;
	color: #b2b2b2;
}

.front__right {
	font-size: 21px;
	font-weight: 400;
	line-height: 2;
}

.front__bot {
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
}

.front__bot_first {
	padding: 25px 25px;
	background: #f4f4f4;
	position: relative;
	width: calc(16.6% - 90px);
}

.front__bot_first::before {
	content: "";
	position: absolute;
	bottom: 10px;
	right: 12px;
	width: 26px;
	height: 26px;
	color: inherit;
	background-image: url(../img/icons/right_arrow_long.svg);
	background-size: cover;
}

.front__bot_first h4 {
	margin-bottom: 55px;
	font-size: 15px;
	font-weight: 700;
	color: #b2b2b2;
}

.front__bot_first h3 {
	margin-bottom: 55px;
	font-size: 31px;
	font-weight: 700;
}

.front__bot li {
	max-width: calc(16.6% - 40px);
	margin: 0 20px 40px 20px;
	flex: 1 1 auto;
}

.front__bot_norm h4 {
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 700;
}

@media screen and (max-width: 1300px) {
	.front__bot li {
		max-width: calc(20% - 40px);
	}
}

@media screen and (max-width: 1100px) {
	.kitchen__front {
		padding: 0 20px;
	}

	.front__left h2 {
		font-size: 61px;
	}

	.front__left span {
		font-size: 15px;
	}

	.front__right {
		font-size: 17px;
	}

	.front__bot li {
		max-width: calc(25% - 40px);
	}

	.front__bot_first h3 {
		font-size: 24px;
	}
}

@media screen and (max-width: 992px) {
	.front__top {
		flex-direction: column;
	}

	.front__left,
	.front__right {
		width: 100%;
	}

	.front__left {
		margin-bottom: 30px;
	}

	.front__left h2 {
		margin-bottom: 15px;
	}

	.front__bot li {
		max-width: calc(33.3% - 40px);
	}
}

@media screen and (max-width: 768px) {
	.front__bot li {
		max-width: calc(50% - 40px);
	}
}

@media screen and (max-width: 600px) {
	.kitchen__front {
		padding: 0 10px;
	}

	.front__bot li {
		max-width: calc(50% - 20px);
		margin: 0 10px 20px 10px;
	}

	.front__bot {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}

	.front__bot h4 {
		margin-top: 5px;
	}
}

/* ----------------------------- / kitchen page ----------------------------- */