/* 

-reseter
-variables
-utilities


*/


/* -------------------------------- resetter -------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: var(--black);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* upd */
a,
a:hover {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
/* ------------------------------- / resetter ------------------------------- */


/* -------------------------------- variables ------------------------------- */
:root {
	--dark: #1a3138;
	--black_light: #193137;
	--black: #000;
	--white: #fff;
	--gray_light: #f5f5f5;
	--black_hover: rgba(0, 0, 0, 0.65);
	--btn_first: #ffcc00;
	--btn_first_hov: #f2bc00;
	--btn_second: #27748C;
	--border_clr: rgb(230, 230, 230);
}
/* ------------------------------- / variables ------------------------------ */


/* -------------------------------- utilities ------------------------------- */
body {
	overflow-x: hidden;
	box-sizing: border-box;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}

.container {
	max-width: 1600px;
	margin:  0 auto;
	/* padding: 0 40px; */
}

.btn__cta_first {
	background-color: var(--btn_first);
  font-size: 14px;
  color: var(--black_light);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
	padding: 10px 16px;
	width: auto;
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	-o-transition: .1s;
}

.btn__cta_first:hover {
	background-color: var(--btn_first_hov)
}

.btn__cta_first img {
	width: 14px;
	margin-right: 10px;
}

.btn__cta_second {
	padding: 8px 18px;
	border-radius: 2px;
	font-size: 14px;
  border-radius: 2px;
	border: 1px solid var(--btn_second);
	font-weight: 600;
	color: var(--btn_second);
	text-transform: uppercase;
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	-o-transition: .1s;
}

.btn__cta_second:hover {
	color: var(--white);
	background-color: var(--btn_second)
}

/* ------------------------------- / utilities ------------------------------ */


/* -------------------------------- category -------------------------------- */
.category {
	padding: 0 40px;
}
.cat__title {
	margin-bottom: 50px;
	font-size: 40px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
	color: var(--black_light);
}

.cat__title_desc {
	display: block;
	margin-bottom: 40px;	
  color: var(--black);
  font-size: 24px;
  text-align: center;
}

.cat__paragraph {
	margin-bottom: 20px;
	text-align: center;
	font-size: 14px;
  line-height: 1.4;
  color: var(--dark);
}

.cat__types {
	display: grid;
	grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 10px;
	margin-bottom: 40px;
}

.cat__types li {
	overflow: hidden;
}

.cat__type_link {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.cat__type_link:hover .cat_type_content {
	background-color: var(--black_hover);
}

.cat__type_link:hover .cat_type_img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.cat__type_link > img {
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
}

.cat_type_content {
	padding: 20px;
	width: calc(100% - 40px);
	/* height: 50px; */
	position: absolute;
	/* bottom: 5px; */
	bottom: 0;
	left: 0;
	color: var(--white);
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	overflow: hidden;
}

.content__cat_name {
	display: flex;
	margin-bottom: 10px;
	width: fit-content;
	font-size: 18px;
	font-weight: 700;
	position: relative;
}

.content__cat_name:after {
	content: url(../img/icons/next.png);
	width: 10px;
	height: 10px;
	position: absolute;
	right: -20px;
	top: 1px;
}

.content__cat_desc {
	font-weight: 300;
	font-size: 14px;
}


@media screen and (max-width:992px) {
	.category {
		padding: 0 20px;
	}
	.cat__types {
		grid-template-columns: 1fr; 
		grid-template-rows: 1fr; 
	}
}

@media screen and (max-width:768px) {
	.category {
		padding: 0 10px;
	}
}
/* -------------------------------- category -------------------------------- */

/* --------------------------------- choose --------------------------------- */
.choose {
	margin-bottom: 55px;
	padding: 30px 40px;
	background-color: var(--gray_light);
}

.choose__title {
	padding-bottom: 20px;
	font-size: 24px;
	text-align: center;
}

.choose__variants{
	margin-bottom: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-gap: 30px;
}

.choose__var {
	display: flex;
	box-shadow: 0 1px 6px 0 rgb(0 0 0 / 16%);
}

.choose__var a {
	width: 50%;
}

.choose__var_right {
	width: 50%;
	padding: 20px 20px 10px 20px;
	background-color: var(--white)
}

.choose__var_right h3 {
	margin-bottom: 10px;
	font-weight: 600;
}

.choose__var_right p {
	margin-bottom: 30px;
	font-size: 14px;
}

/* .choose__var_right .btn__cta_second {
	
} */


@media screen and (max-width: 1400px) {
	.choose__variants{
		grid-template-columns: 1fr; 
		grid-gap: 30px;
	}
	.choose__var_right {
		padding: 60px 40px 0px 40px;
	}
}

@media screen and (max-width: 992px) {
	.choose__var_right {
		padding: 20px;
	}
	.choose__var_right p {
		padding-bottom: 30px;
		margin: 0;
	}
	.choose {
		padding: 20px;
	}
}

.choose__install .choose__title {
	color: red;
}

.choose__install {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.choose__install .choose__title {
	font-weight: 700;
}
.choose__install p {
	font-size: 14px;
	margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
	.choose__variants{
		grid-template-columns: 1fr; 
		grid-template-rows: 1fr 1fr;
		grid-gap: 20px;
	}
	.choose__var {
		flex-direction: column;
	}
	.choose__var a {
		width: 100%;
	}
	
	.choose__var_right {
		width: calc(100% - 40px);
	}
	.choose__var_right .btn__cta_second {
		margin-bottom: 40px;
	}
	.choose {
		padding: 10px;
	}
}
/* -------------------------------- / choose -------------------------------- */


/* ---------------------------------- upper --------------------------------- */
.upper {
	margin-top: 50px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	border-radius: 2px;
	background-color: var(--gray_light);
	/* position: relative; */
}

.upper__one {
	/* max-width: calc(1600px - 20px);
	margin-right: auto; */
	/* padding-right: 20px; */
}

.upper__two {
	/* padding-left: 20px; */
}

.up__content {
	max-width: calc(50% - 100px);
	padding: 50px 50px 0 50px;
	margin-bottom: 20px;
}

.up__content h3 {
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: 700;
	text-align: left;
	margin-right: auto;
}

.up__content p {
	font-size: 15px;
	line-height: 20px;
	padding-bottom: 35px;
}

.up__img {
	max-width: calc(50% - 20px);
	margin: -20px 0px 20px 0px;
	border-radius: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	box-shadow: 0 2px 3px 0 rgb(0 0 0 / 24%);
}

.upper__one img {
	margin-right: 20px;
}

.upper__two img {
	margin-left: 20px;
}

.upper .btn__cta_first {
	display: inline-block;
}

@media screen and (max-width: 1640px) {
	.upper__one {
		margin-left: 20px;
		margin-right: 20px;
	}
	.upper__two {
		margin-right: 20px;
		margin-left: 20px;
	}

}

@media screen and (max-width: 1300px) {
	.upper {
		margin-left: 10px;
    margin-right: 20px;
		height: auto;
	}
	.up__content {
		max-width: calc(50% - 40px);
		padding: 20px 20px 10px 20px;
	}
	.up__content p {
		padding-bottom: 20px;
	}
}
/* --------------------------------- / upper -------------------------------- */


/* -------------------------------- upper two ------------------------------- */
.upper__two h3 {
	margin-bottom: 7px;
}

.upper__two span {
	display: block;
	font-size: 24px;
	margin-bottom: 20px;
}

/* @media screen and (max-width: 1640px) {
	.upper__two {
		margin-left: 40px;
		margin-right: 20px;
		padding: 0;
	}
} */

@media screen and (max-width: 992px) {
	.upper {
		margin-left: 20px;
    margin-right: 20px;
		padding: 20px 40px 20px 40px;
		flex-direction: column;
		justify-content: center;
	}
	.up__content {
		max-width: calc(100%);
		order: 2;
	}
	.up__img {
		max-width: calc(100%);
		order: 1;
		margin: -40px 20px 20px 20px;
	}
}

	@media screen and (max-width: 670px) {
		.upper {
			margin-left: 5px;
			margin-right: 5px;
			padding: 20px 10px 20px 10px;
		}
		.up__content {
			padding: 20px 10px 10px;
			margin-bottom: 0;
		}
		.up__img {
			margin: -40px 0 0 0;
		}
	}
	
/* ------------------------------- / upper two ------------------------------ */

/* --------------------------------- banner --------------------------------- */
/* .banner__wrap  {
	padding: 20px;
}

.banner__wrap > img {
	display: block;
	width: calc(100% - 40px);
} */
/* -------------------------------- / banner -------------------------------- */


/* ------------------------------- components ------------------------------- */
.components {
	margin-bottom: 40px;
	padding: 30px;
	background-color: var(--gray_light);
}

.components__list {
	margin: 0 auto;
	margin: 20px 0;
	display: flex;
  flex-wrap: wrap;
}

.component {
  width: calc(16.6% - 2 * 10px);
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.component a {
	width: 100%;
	height: 100%;
	position: relative;
}

.component__name {
	bottom: 0;
	left: 0;
	width: 100%;
	position: absolute;
	/*margin-top: -2px;
	*/padding: 10px 0;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--dark);
	color: var(--white);
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	-o-transition: .1s;
}

.component__name:hover {
	color: var(--black);
	background-color: var(--btn_first_hov);
}

@media screen and (max-width: 1300px) {
	.component {
		width: calc(25% - 2 * 10px);
	}
}

@media screen and (max-width: 992px) {
	.component {
		width: calc(33% - 2 * 10px);
	}
}

@media screen and (max-width: 768px) {
	.components {
		padding: 30px 0;
	}
	.component {
		width: calc(50% - 2 * 10px);
	}
	.component__name {
		font-size: 10px;
	}
}

@media screen and (max-width: 440px) {
	.component {
		width: calc(100% - 2 * 10px);
	}
}


/* ribbon */
.ribbon {
	z-index: 1;
  width: 70px;
  height: 70px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 3px solid #D5162A;
}
.ribbon span {
  position: absolute;
  display: block;
	font-weight: 700;
	font-size: 10px;
  width: 152px;
  padding: 4px 0;
	background: linear-gradient(#ee2f43 0%, #ed1e24 100%);
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* ribbon pozition top right*/
.ribbon-top-right {
  top: -6px;
  right: -6px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
	left: -37px;
	top: 18px;
  transform: rotate(45deg);
}
/* ribbon */

/* ------------------------------ / components ------------------------------ */


/* ---------------------------------- ideas --------------------------------- */
.ideas {
	margin-bottom: 40px;
	padding: 0 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ideas__list {
	display: flex;
	justify-content:center;
	align-items: flex-start;
}

.idea {
	margin: 10px;
	width: calc(25% - 20px);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border: 1px solid var(--border_clr);
}

/* .idea:not(:last-child) {
	margin-right: 10px;
} */

.idea > a {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.idea__desc {
	padding: 8px 16px;
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	color: var(--dark);
}


@media screen and (max-width: 992px) {
	.ideas {
		padding: 0 20px;
	}
	.ideas__list {
		flex-wrap: wrap;
	}
	.idea {
		width: calc(50% - 30px);
	}
}

@media screen and (max-width: 768px) {
	.ideas {
		padding: 0 10px;
	}
}


@media screen and (max-width: 576px) {
	.idea {
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}
}



/* --------------------------------- / ideas -------------------------------- */


/* .{
	transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 16%);
} */