/* fonts */
@font-face {
	font-family: "Helvetica";
	src: url("../css/fonts/9202.otf") format("otf");
	font-style: normal;
	font-weight: normal;
}

/* -------------------------------- resetter -------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	z-index: 1;
	box-sizing: border-box;
}

/* upd */
html {
	scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	/* line-height: 1.5; */
	color: var(--black);
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* upd */
a,
a:hover {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {
	border: 0;
	cursor: pointer;
}

/* ------------------------------- / resetter ------------------------------- */


/* -------------------------------- variables ------------------------------- */
:root {
	--main_firm_clr: #ff7200;
	--firm_clr_opacity: rgba(255, 114, 0, .85);
	--top_header: #202020;
	--dark: #1a3138;
	--black_light: #193137;
	--black: #000;
	--black_hover: rgba(0, 0, 0, 0.65);
	--white: #fff;
	--gray_light: #f5f5f5;
	--btn_first: #ff7200;
	--btn_first_hov: #E65900;
	--btn_second: #ff7200;
	--border_clr: rgb(230, 230, 230);
	--red: #ee2f43;
	--top_header_nav_link: rgb(153, 153, 151);
	--white_opacity: rgba(255, 255, 255, .65);
	--gray: #b2b2b2;
}

/* ------------------------------- / variables ------------------------------ */


/* -------------------------------- utilities ------------------------------- */
body {
	overflow-x: hidden;
	box-sizing: border-box;
	/* font-family: 'Open Sans', Arial, Helvetica, sans-serif; */
	font-family: 'Arial', Helvetica, sans-serif;

}

img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}

a {
	font-weight: 600;
}

i {
	font-style: italic;
}

b {
	font-weight: 700;
}

.container_header {
	max-width: 1558px;
	margin: 0 auto;
	/* border: 1px solid red; */
}

.container {
	max-width: 1558px;
	margin: 0 auto;
	/* border: 1px solid red; */
}

/* 
.btn__cta_first {
	background-color: var(--btn_first);
	font-size: 15px;
	color: var(--white);
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 16px 10px 68px;
	width: auto;
	border-radius: 2px;
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	-o-transition: .1s;
	position: relative;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 26%);
} */

/* .btn__cta_first:hover {
	background-color: var(--btn_first_hov);
	color: var(--white);
} */

/* .btn__cta_first:active {
	background-color: var(--btn_first);
	box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
} */

/* .btn__cta_first::before {
	content: "";
	background-image: url(../img/icons/calendarwhite.svg);
	background-size: cover;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 24px;
} */

/* .btn__cta_first img {
	width: 18px;
	margin-right: 15px;
} */

/* .btn__cta_second {
	padding: 8px 18px;
	border-radius: 2px;
	font-size: 14px;
	border-radius: 2px;
	border: 1px solid var(--btn_second);
	font-weight: 600;
	color: var(--btn_second);
	text-transform: uppercase;
	border-radius: 2px;
	cursor: pointer;
	transition: .1s;
	background-color: transparent;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	-o-transition: .1s;
} */

/* .btn__cta_second:hover {
	color: var(--white);
	background-color: var(--btn_second);
	box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 26%);
} */

/* .btn__cta_second:active {
	box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
} */

.btn__cta_trhee {
	padding: 10px 14px;
	font-size: 9px;
	background-color: #f60;
	color: var(--white);
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

.btn__cta_trhee:hover {
	cursor: pointer;
	color: inherit;
	box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 26%);
}

.btn__cta_trhee:active {
	box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);

}

.btn__cta_trhee img {
	max-width: 15px;
	object-fit: cover;
	display: none;
}


/* .btn__cta_four {
	padding: 8px 18px;
	font-size: 14px;
	font-weight: 500;
	color: var(--main_firm_clr);
	text-transform: lowercase;
	background-color: transparent;
	cursor: pointer;
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	-o-transition: .1s;
} */

.no_scroll {
	overflow: hidden;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}

/* ------------------------------- / utilities ------------------------------ */



/* --------------------------------- header --------------------------------- */
.header {
	margin-bottom: 40px;
	position: relative;
}

/* top header */
.header__top_wrap {
	background-color: var(--top_header);
	margin: 0 auto;
	height: 32px;
	border-bottom: 1px solid #303030;
}

.header__top {
	max-width: 1558px;
	height: 31px;
	display: flex;
	align-items: center;
	background-color: var(--top_header);
}

.header__top h1 {
	margin-top: 3px;
	font-size: 12px;
	font-weight: 400;
	color: #898989;
}

.header__top_online {
	margin-top: 2px;
	display: flex;
	align-items: center;
	margin-right: 20px;
	margin-left: auto;
}

.header__top_online img {
	width: 21px;
	margin-right: 5px;
}

.header__top_online span {
	margin-top: 10px;
	margin-bottom: 8px;
	font-size: 13px;
	white-space: nowrap;
	color: #fc5900;
}

.header__top_nav {
	color: var(--top_header_nav_link);
	display: flex;
}

.header__top_nav a {
	margin-right: 17px;
	margin-top: 3px;
	font-size: 13px;
	font-weight: 300;
	color: #c7c7c7;
	text-transform: uppercase;
}

.header__top_nav a:last-child {
	color: #fc5900;
}

.header__top_nav a:hover {
	color: var(--white)
}

/* / top header */

/* mid header */
.header__mid_wrap {
	background: rgb(6, 3, 3);
	background: linear-gradient(0deg, rgba(6, 3, 3, 1) 0%, rgba(19, 19, 19, 1) 100%);
	height: 59px;
}

.header__mid {
	max-width: 1558px;
	height: 59px;
	display: flex;
	background: rgb(6, 3, 3);
	background: linear-gradient(0deg, rgba(6, 3, 3, 1) 0%, rgba(19, 19, 19, 1) 100%);
}

.header__mid_main_logos {
	padding-top: 8px;
	padding-left: 15px;
	height: 47px;
	display: flex;
}

.header__mid_main_logos img {
	height: 42px;
}

.header__mid_main_logos a {
	height: 47px;
}

.header__mid_main_logos a:first-child {
	margin-right: 25px;
}

.lightstyle__logo img {
	height: 30px;
	/* padding-top: 6px; */
	margin-top: 6px;
}

.header__mid_logos {
	padding-top: 11px;
	margin-left: auto;
}

.header__mid_logos a {
	display: inline-block;
	padding: 4px 21px;
}


.header__mid_logos a:nth-child(2) {
	border-left: 1px solid #575757;
	border-right: 1px solid #575757;
}

.logo__img_next125 {
	height: 26px;
	margin-bottom: -4px;
}

.logo__img_schuller {
	height: 23px;
}

.logo__img_nobilia {
	height: 19px;
	margin-bottom: 2px;
}

.header__btn_form__wrapper {
	margin-right: 35px;
	display: flex;
	margin-left: auto;
}

.header__btns_wrapper {
	display: flex;
	align-items: center;
}

.header__form {
	display: flex;
	align-items: center;
}

.header__form .btn__cta_trhee {
	margin-left: 3px;
	height: 34px;
	width: 82px;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1px;
}

.header__input {
	height: 34px;
	width: 392px;
	padding-left: 10px;
	outline: 0;
}

.header__cart_link {
	margin-right: 23px;
	display: flex;
	align-items: center;
	color: var(--white);
}

.header__cart_link:hover {
	color: var(--white);
}

.header__cart_link span {
	margin-left: 2px;
	margin-right: 2px;
	display: flex;
	font-size: 11px;
}

.header__cart_icon {
	margin-left: 7px;
	width: 30px;
	height: 30px;
	display: flex;
	padding: 7px 5px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	background-color: var(--main_firm_clr);
}

.header__cart_icon img {
	max-width: 17px;
	max-height: 17px;
}

/* / mid header */

/* header bot */
.header__bot_wrap {
	background-color: #fe6601;
	height: 65px;
	border-bottom: 1px solid #e6e6e6;
}

.header__bot {
	margin: 0 auto;
	max-width: 1558px;
	height: 64px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	align-items: center;
}

.header__bot li {
	height: 64px;
	display: flex;
	justify-content: center;
	flex-grow: 2;
	text-align: center;
	align-items: center;
	border-right: 1px solid #e9612c;
	border-left: 1px solid #eb7d31;
	background-color: #fe6601;
}

.header__bot li:not(:first-child):hover {
	opacity: .6;
}

.header__bot li:first-child {
	border-left: 0;
}

.header__bot li:last-child {
	border-right: 0;
}


.header__bot a {
	height: 64px;
	font-size: 14px;
	width: auto;
	font-weight: 300;
	display: flex;
	align-items: center;
	color: var(--white);
	text-transform: uppercase;
	white-space: nowrap;
}

.header__bot a:hover::before {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

.dropdown {
	position: relative;
	margin-left: 20px;
}

.dropdown:before {
	content: "";
	position: absolute;
	top: 28px;
	left: -17px;
	width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 7px solid #fff;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
}

.btn__meet_wrap {
	padding: 0 7px;
}

.btn__meet_wrap a {
	width: auto;
	margin: 0 !important;
	padding: 0;
}

.btn__meet_wrap img {
	height: 45px;
	width: auto;
}


/* / header bot */

/* header bot firms */
.header__bot_firms {
	height: 31px;
	margin-bottom: 20px;
	background-color: var(--black);
}

.header__firm_list {
	max-width: 1558px;
	display: flex;
	height: 31px;
	background-color: #fff;
}

.header__firm_list li {
	height: 31px;
}

.header__firm_list a {
	max-height: 31px;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__firm_list img {
	height: 31px;
	max-height: 31px;
}

.header__firm_list img:hover {
	opacity: .6;
}

.header__firm_list li:last-child>a {
	border-right: 0;
}

.header__firm_list span {
	margin-top: 1px;
	font-size: 11px;
	color: #d5d5d5;
	white-space: nowrap;
}

@media screen and (max-width: 1558px) {
	.header__bot a {
		margin-left: 5px;
		height: 64px;
		padding-right: 5px;
	}

	.header__bot li .dropdown {
		margin-left: 20px;
	}

	.header__form .btn__cta_trhee {
		width: auto;
	}

	.header__firm_list img {
		height: 100%;
		max-height: 31px;
	}
}

@media screen and (max-width: 1510px) {
	.header__input {
		width: auto;
	}

	.btn__meet_wrap {
		padding: 0;
	}
}

@media screen and (max-width: 1370px) {
	.header__mid_main_logos {
		margin-right: 0;
	}

	.header__mid .btn__cta_trhee span {
		display: none;
	}

	.header__mid .btn__cta_trhee img {
		display: block;
	}
}

@media screen and (max-width: 1274px) {
	.header__mid_logos {
		display: none;
	}
}


/* ! burger menu */
@media screen and (min-width: 1200px) {
	.burger__btn {
		display: none;
	}
}

@media screen and (max-width: 1200px) {

	/* ! burger menu*/
	.header__bot_wrap {
		height: auto;
		position: absolute;
		width: 100vw;
		top: 131px;
		left: -100%;
		opacity: 0;
		z-index: 9;
		transition: all .5s;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		-o-transition: all .5s;
	}

	.header__bot {
		height: auto;
		flex-direction: column;
		justify-content: center;
		background-color: var(--firm_clr_opacity);
	}

	.header__bot li {
		height: auto;
		width: auto;
		border: 0;
		margin-bottom: 15px;
	}

	.dropdown:before {
		top: 5px;
	}

	.header__bot a {
		height: auto;
	}


	/* ! burger button check */
	.burger__btn {
		display: flex;
		flex-direction: column;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
	}

	.burger__btn span {
		background: #fff;
		border-radius: 10px;
		height: 3px;
		margin: 4px 0;
		transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
		-webkit-transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
		-moz-transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
		-ms-transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
		-o-transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
	}

	.burger__btn span:nth-of-type(1) {
		width: 50%;
	}

	.burger__btn span:nth-of-type(2) {
		width: 100%;
	}

	.burger__btn span:nth-of-type(3) {
		width: 75%;
	}

	.burger__btn input[type="checkbox"] {
		display: none;
	}

	.burger__btn input[type="checkbox"]:checked~span:nth-of-type(1) {
		transform-origin: bottom;
		width: 100%;
		transform: rotatez(45deg) translate(7px, 5px);
		-webkit-transform: rotatez(45deg) translate(7px, 5px);
		-moz-transform: rotatez(45deg) translate(7px, 5px);
		-ms-transform: rotatez(45deg) translate(7px, 5px);
		-o-transform: rotatez(45deg) translate(7px, 5px);
	}

	.burger__btn input[type="checkbox"]:checked~span:nth-of-type(2) {
		transform-origin: top;
		width: 100%;
		transform: translate(1px, -1px) rotatez(-45deg);
		-webkit-transform: translate(1px, -1px) rotatez(-45deg);
		-moz-transform: translate(1px, -1px) rotatez(-45deg);
		-ms-transform: translate(1px, -1px) rotatez(-45deg);
		-o-transform: translate(1px, -1px) rotatez(-45deg);
	}

	.burger__btn input[type="checkbox"]:checked~span:nth-of-type(3) {
		transform-origin: bottom;
		width: 50%;
		transform: translate(14px, -8px) rotatez(45deg);
		-webkit-transform: translate(14px, -8px) rotatez(45deg);
		-moz-transform: translate(14px, -8px) rotatez(45deg);
		-ms-transform: translate(14px, -8px) rotatez(45deg);
		-o-transform: translate(14px, -8px) rotatez(45deg);
	}

	.header__mid {
		flex-direction: column;
	}

	.header__btn_form__wrapper {
		justify-content: space-between;
		width: 100%;
	}

	.header__form {
		margin-right: 15px;
	}

	.header__mid {
		position: relative;
	}

	.electro__logo {
		position: absolute;
		left: 15px;
		top: 10px;
	}

	.header {
		height: 142px;
	}

	.header__cart_link {
		right: 15px;
		top: 10px;
		margin: 0;
		position: absolute;
	}

	.header__btn_form__wrapper {
		margin: 0;
		padding: 10px 0 10px;
	}

	.header__mid {
		height: auto;
	}

	.header__mid_main_logos a:nth-child(2) {
		margin-left: 200px;
	}

	.header__bot_firms {
		position: absolute;
		bottom: -42px;
	}
}

@media screen and (max-width: 1100px) {
	.header__top_online span {
		font-size: 10px;
	}

	.header__top_nav a {
		font-size: 10px;
	}
}


@media screen and (max-width: 768px) {
	.header__top_online img {
		max-width: 12px;
	}

	.header__top_online span {
		font-size: 8px;
	}

	.header__top_nav a {
		font-size: 8px;
		margin-right: 10px;
	}

	.header__cart_link {
		margin-top: 3px;
	}
}

/* ! toggle burger class */
.header__bot_open {
	position: absolute;
	left: 0;
	opacity: 1;
	width: 100vw;
}


@media screen and (max-width: 666px) {
	.header__top_online {
		margin-right: 5px;
	}

	.header__top_nav a {
		font-size: 6px;
		margin-right: 5px;
	}

	.header__top_nav a:last-child {
		margin-right: 5px;
	}

	.header__mid_main_logos a:nth-child(2) {
		display: none;
	}
}

@media screen and (max-width: 520px) {
	.header__top h1 {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.header__form .btn__cta_trhee {
		max-height: 25px;
		padding: 4px 4px;
	}

	.header__btn_form__wrapper .btn__cta_trhee_lg {
		padding: 6px 3px;
		font-size: 10px;
		line-height: 1.25;
		max-height: 25px;
		text-align: center;
		width: auto;
	}

	.header__input {
		height: 23px;
	}
}

@media screen and (max-width: 425px) {
	.header__mid_main_logos img {
		height: 35px;
	}

	.header__cart_link {
		margin-top: 3px;
	}
}

@media screen and (max-width: 400px) {
	.header__top_nav a {
		font-size: 6px;
		margin-right: 3px;
	}

	.header__top_online span {
		white-space: nowrap;
		font-size: 6px;
	}

	.header__top_online img {
		max-width: 7px;
	}

	.header__input {
		width: 120px;
	}

	.header__input:focus {
		width: auto;
	}
}

/* -------------------------------- / header -------------------------------- */



/* -------------------------------- page main ------------------------------- */
/* hero block */
.hero__main {
	background: url(../img/hero2.jpeg) no-repeat center gray;
	background-size: cover;
	width: 100%;
	height: 410px;
	margin-top: -36px;
	margin-bottom: 60px;
	padding: 15px 100px;
	position: relative;
}

.hero__main_ovelay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .21)
}

.hero__main_inner {
	display: flex;
	justify-content: space-between;
}

.diskount_wrap {
	max-width: 300px;
	margin-top: 230px;
}

.diskount_inner {
	position: relative;
}

.discount__head {
	padding: 5px 10px;
	font-size: 18px;
	text-align: center;
	background-color: #f86403;
	color: #fff;
}

.diskount__body {
	padding: 10px 20px 10px 40px;
	color: #525252;
	background-color: #fff;
}

.diskount__body a {
	color: #f86403;
}

.discount__icon {
	width: 50px;
	height: 50px;
	padding: 10px;
	position: absolute;
	top: -3px;
	left: -15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f86403;
	color: #fff;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.consult__wrap {
	width: 390px;
}

.consult__head {
	padding: 13px 16px 12px;
	font-size: 18px;
	display: flex;
	align-items: center;
	color: #fff;
	background-color: #f86403;
}

.consult__head img {
	margin-right: 24px;
	max-width: 45px;
}

.consult__body {
	padding: 30px 10px 10px;
	background-color: #fff;
}

.consult__body {
	text-align: center;
	color: #525252;
}

.consult__body span {
	display: block;
	margin-bottom: 28px;
}

.consult__body_inner {
	display: flex;
	justify-content: space-around;
	flex: 1 1 auto;
}

.consult__type {
	width: calc(50% - 10px);
	margin: 0 5px 15px;
	font-size: 13px;
	flex: 1 1 auto;
}

.consult__type_inner {
	border: 2px solid #e9e9e9;
	padding: 15px 3px 0px;
	border-bottom: 0;
	height: 178px;
}

.consult__type_inner span {
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 20px;
}

.consult__type_inner p {
	display: block;
	color: #757474;
	;
}

.consult__type a {
	padding: 12px;
	display: block;
	font-weight: 400;
	color: #fff;
	background-color: #f86403;
}

@media screen and (max-width: 1200px) {
	.hero__main {
		margin-top: -20px;
	}
}

@media screen and (max-width: 992px) {
	.hero__main {
		padding: 15px 10px 10px 20px;
	}
}

@media screen and (max-width: 752px) {
	.hero__main {
		height: auto;
	}

	.hero__main_inner {
		flex-direction: column;
	}

	.diskount_wrap {
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.consult__wrap {
		width: 200px;
	}

	.consult__body {
		padding: 10px 5px 5px;
	}

	.consult__body_inner {
		flex-wrap: wrap;
	}

	.consult__type_inner {
		display: none;
	}

	.consult__type {
		margin: 0 5px 5px;
	}

	.diskount__body {
		padding: 5px 5px 5px 30px;
	}
}


/* pluses */
.pluses {
	margin-bottom: 60px;
	max-width: 1200px;
}

.pluses h2 {
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	color: #414141;
}

.pluses__list_top {
	display: flex;
	margin-bottom: 20px;
}

.pluses__list_top li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: calc(25% - 40px);
	padding: 0 10px;
	margin: 20px 20px;
}


.pluses__top_icon {
	margin: 0 auto;
	margin-bottom: 15px;
	width: 100px;
	height: 100px;
	padding: 10px;
	border-radius: 60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
}


.pluses__list_top h3 {
	margin-bottom: 15px;
	font-size: 17px;
	font-weight: 700;
	text-decoration: underline;

}

.pluses__list_top p {
	margin-bottom: 15px;
	font-size: 15px;
	font-weight: 400;
	color: #757474;
	font-family: "Helvetica";
}

.pluses__list_top p b {
	color: #000;
}

.pluses__list_bot {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.pluses__list_bot li {
	margin: 20px 0px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	width: calc(25%);
}

.pluses__list_bot p {
	text-align: center;
	width: 80%;
	font-size: 14px;
	color: #757474;
}

.pluses__bot_icon {
	margin-right: 10px;
	width: 25px !important;
	height: 25px !important;
	padding: 5px;
	width: 100%;
	background-color: #4c95cc;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	display: block;
}

.pluses_center {
	margin-bottom: 10px;
}

.pluses_center a {
	margin: 0 auto;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #f86403;
	padding: 10px 40px 10px 40px;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 21px;
}

.pluses_center img {
	max-width: 30px;
	margin-right: 20px;
}

.pluses_center_sec {
	text-align: center;
	font-size: 15px;
	color: #757474;
}

.pluses_center_sec p {
	max-width: 350px;
	font-family: "Helvetica";
	font-size: 15px;
}

.pluses_center_sec a {
	display: block;
	font-weight: 300;
	text-align: center;
	color: #0f8cfa;
}

@media screen and (max-width: 1070px) {
	.pluses__list_top,
	.pluses__list_bot {
		flex-wrap: wrap;
	}
	.pluses__list_top li,
	.pluses__list_bot li {
		width: 50%;
		margin: 10px 0;
	}
	.pluses__list_top {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 550px) {
	.pluses__list_top li,
	.pluses__list_bot li {
		width: 100%;
	}
	.pluses__list_top {
		margin-bottom: 40px;
	}
	.pluses_center a {
		margin: 0 auto;
		width: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		background-color: #f86403;
		padding: 10px 10px 10px 10px;
		text-transform: uppercase;
		white-space: nowrap;
		font-size: 21px;
	}
}



/* examples slider */
.examples {
	margin-bottom: 60px;
}


.examples_header {
	margin-bottom: 20px;
}

.examples_header h2 {
	font-size: 30px;
	font-weight: 700;
	display: inline;
}

.examples_header span {
	font-size: 15px;
	font-family: "Helvetica";
	font-style: italic;
	display: inline;
}

.example__img_wrap {
	width: 100%;
	height: 240px;
	overflow: hidden;
	margin-bottom: 10px;
}

.example__img_wrap img {
	object-fit: cover;
	height: 240px;
	transition: .9s;
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
}

.example__img_wrap img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.examples__slide {
	width: 100%;
}

.examples__slide h3 {
	font-size: 19px;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 10px;
}

.examples__slide span {
	font-size: 12px;
	font-weight: 600;
	color: #999997;
	text-transform: uppercase;
}

.examples__slider .swiper-button-next,
.examples__slider .swiper-button-prev {
	color: #e0e0e0;
}

.examples__slider	.swiper-pagination {
	display: none;
}


@media screen and (max-width: 1557px) {
	.example__img_wrap img {
   	height: auto;
	}
	.examples__slider	.swiper-pagination {
		display: block;
	}
	.examples__slider  {
		padding-bottom: 30px;
	}
	.examples__slider .swiper-pagination-bullet-active {
		background: #f86403;
	}
}

@media screen and (max-width: 1300px) {
	.examples .examples_header span {
		margin-top: 10px;
		display: block;
	}
}

@media screen and (max-width: 992px) {
	.example__img_wrap {
		height: 340px;
	}
}


/* CHOICE SLIDER */
.choice__kitchen {
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
}

.choice__left {
	width: 30%;
	padding-top: 50px;
}

.choice__right {
	width: 65%;
}

.choice__left .advantages {
	padding: 0 0 0 10px;
}

.choice__kitchen_slider {
	padding-bottom: 20px;
}

.choice__kitchen_slider	.swiper-pagination {
	bottom: 0;
}

.choice__kitchen_slider	.swiper-pagination {
		display: none;
}



.choice__slide {
	background-color: #f7f7f7;
	transition: .9s;
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
}

.choice__slide:hover {
	background-color: #fff;
	box-shadow: 0 0 0 2px #f7f7f7 inset;
}

.choice__slide:hover .choice__slide_img_wrap img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.choice__slide_img_wrap {
	max-width: 100%;
	overflow: hidden;
}

.choice__slide_img_wrap img {
	transition: .9s;
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
}

.choice__slide_link {
	padding: 10px 10px 30px 10px;
	height: 340px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.choice__slide_link:after {
	content: "";
	background-image: url(../img/icons/next.svg);
	background-size: cover;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: block;
}

.choice__slide_link h4 {
	font-size: 12px;
	font-weight: 400;
	color: #c7c7c7;
	font-family: Helvetica, sans-serif;
}

.choice__slide_link h3 {
	font-size: 19px;
	font-weight: 700;
	font-style: italic;
}

.choice__slide_link p {
	margin-top: 12px;
	font-size: 13px;
	font-weight: 400;
	color: #414141;
	font-family: Helvetica, sans-serif;
}

@media screen and (max-width: 1558px) {
	.choice__kitchen_slider	.swiper-pagination {
		display: block;
	}
	.choice__kitchen_slider .swiper-pagination-bullet-active {
		background: #f86403;
	}
}

@media screen and (max-width: 1250px) {
	.choice__kitchen {
		flex-direction: column;
	}
	.choice__left,
	.choice__right {
		width: 100%;
	}
	.choice__left .advantages {
		padding: 0 10px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.choice__left .advantages__item {
		width: calc(50% - 10px);
	}
}

@media screen and (max-width: 768px) {
	.choice__left .advantages__item {
		width: 100%;
	}
	.choice__right .examples_header span {
		margin-top: 10px;
		display: block;
	}
}



/* advantages */
.advantages__item {
	display: flex;
	margin-bottom: 30px;
}

.advantages__item img {
	max-width: 60px;
	max-height: 60px;
	margin-right: 30px;
}

.advantages__item h5 {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 700;
}

.advantages__item p {
	font-size: 14px;
	color: #414141;
	font-family: Helvetica, sans-serif;
}

/* kitchcen firms */
.kitchcen__firms {
	margin-bottom: 60px;
}

.kitchcen__firms_head {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.firms__head_item {
	width: calc(25% - 20px);
}

.firms__head_item h2 {
	font-size: 32px;
	font-weight: 700;
}

.firms__head_item span {
	font-size: 17px;
	font-family: Helvetica, sans-serif;
}

.firms__head_item a {
	padding: 5px 10px;
	display: flex;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	background-color: #f86403;
}

.firms__head_item>img {
	width: 20px;
	height: 20px;
	margin-right: 20px;
}


.kitchcen__firms_wrap {
	display: flex;
	justify-content: space-between;
}

.kitchcen__firm {
	width: calc(25% - 20px);
}

.kitchcen__firm_img_wrap {
	margin-bottom: 10px;
	max-width: 100%;
	overflow: hidden;
}

.kitchcen__firm_img_wrap img {
	transition: .9s;
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
}

.kitchcen__firm:hover .kitchcen__firm_img_wrap img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.firm_logo {
	margin-bottom: 15px;
	height: 20px;
}

.kitchcen__firm p {
	font-size: 15px;
	font-weight: 400;
	color: #414141;
}

@media screen and (max-width: 1200px) {
	.kitchcen__firms_head {
		flex-wrap: wrap;
	}
	.firms__head_first {
		margin-bottom: 25px;
		width: 100%;
	}

	.kitchcen__firms_wrap {
		flex-wrap: wrap;
		/* flex-direction: column; */
	}
	.kitchcen__firm {
		margin-bottom: 30px;
		width: calc(50% - 20px);
	}
}

@media screen and (max-width: 768px) {
	.kitchcen__firms_head {
		flex-direction: column;
		align-items: center;
	}
	.kitchcen__firm {
		/* width: calc(50% - 5px); */
		width: calc(100%);
	}
	.kitchcen__firm_img_wrap img {
		height: 300px;
		width: 100%;
	}
	.firms__head_item {
		width: auto;
		margin-bottom: 15px;
	}
	.firms__head_first {
		width: 100%;
	}
}



/* discount block */
.discount__block {
	margin-bottom: 60px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #c7c7c7;
}

.discount__block_left {
	width: 65%;
}
.discount__block_right {
	width: 35%;
}

.discount__block_left h2 {
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 800;
	text-transform: uppercase;
}

.discount__block_left p {
	margin-bottom: 35px;
	font-size: 17px;
}

.discount__block_btns {
	display: flex;
	align-items: center;
}

.discount__block_btns a {
	padding: 15px 30px;
	border-radius: 30px;
	font-size: 15px;
	color: #fff;
	background: linear-gradient(180deg, #f86403 0%, #f86403 100%);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.discount__block_btns a:nth-child(2) { 
	margin-left: auto;
	margin-right: 25px;
}

.discount__block_right {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.discount__circle {
	padding: 30px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
	background-color:#f86403;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}

.discount__circle h3 {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #fff;
}

.discount__circle h3:nth-child(2) {
	display: none;
}

@media screen and (max-width: 1200px) {
	.discount__block_right img {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.discount__block_btns {
		flex-direction: column;
		align-items: flex-start;
	}

	.discount__block_btns a {
		margin-left: 0 !important;
		margin-bottom: 10px;
	}

	.discount__block {
		position: relative;
	}
	.discount__circle {
		position: absolute;
		top: -50px;
		right: 10px;
	}
}
@media screen and (max-width: 768px) {
	.discount__circle {
		top: -35px;
		right: 10px;
		padding: 15px 5px;
		width: 60px;
		height: 60px;
	}
	.discount__circle h3:first-child {
		display: none;
		/* font-size: 14px; */
	}
	.discount__circle h3:nth-child(2) {
		display: block;
		/* font-size: 14px; */
	}
	.discount__block_left {
		width: 100%;
	}
	.discount__block_right {
		width: 0;
	}
	.discount__block_left h2 {
		/* padding-right: 120px; */
	}
}




/* popular block */

.popular__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.popular__bot {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.popular h2 {
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 700;
}

.top__item {
	margin-bottom: 20px;
	width: calc(33.33% - 10px);
	height: 280px;
	position: relative;
	overflow: hidden;
}

.bot__item {
	margin-bottom: 20px;
	width: calc(25% - 10px);
	height: 220px;
	position: relative;
	overflow: hidden;
}

.top__item:hover .popular__item_img,
.bot__item:hover .popular__item_img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.top__item img,
.bot__item img {
	transition: .9s;
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
}

.top__item a,
.bot__item a {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #fff;
	background-color: #f86403;
	opacity: .8;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.top__item a:hover ,
.bot__item a:hover {
	opacity: 1;
}

.top__item a img,
.bot__item a img {
	margin-right: 5px;
	max-width: 10px;
}

@media screen and (max-width: 1300px) {
	.top__item {
		height: auto;
	}
	.bot__item {
		height: auto;
	}
}

@media screen and (max-width: 992px) {
	.popular__bot {
		flex-wrap: wrap;
	}
	.bot__item {
    width: calc(50% - 10px);
	}
}

@media screen and (max-width: 768px) {
	.popular__top {
		flex-wrap: wrap;
	}
	.top__item {
    width: calc(50% - 10px);
	}
	.top__item:nth-child(3) {
    margin: 0 auto;
	}
	.top__item a, 
	.bot__item a {
		padding: 5px 10px;
		font-size: 14px;
	}
}
@media screen and (max-width: 450px) {
	.popular__top {
		flex-wrap: wrap;
	}
	.top__item {
    width: 100%;
	}
}



/* postup */
.postup {
	margin-bottom: 60px;
}

.postup h2 {
	margin-bottom: 10px;
	font-size: 32px;
	font-weight: 700;
}

.postup span {
	/* padding-bottom: 15px; */
	/* display: block; */
	font-size: 17px;
	color: #414141;
}


.postup__inner {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	background-color: #e0e0e0;
}

.postup__item {
	padding: 30px 20px;
	width: calc(25% - 20px);
}

.postup__item p {
	font-size: 17px;
	color: #414141;
	text-align: center;
}


.postup__head {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	/* justify-content: space-between; */
	/* align-items: center; */
	/* text-align: center; */
	font-size: 17px;
	font-weight: 700;
	color: #414141;
}

.postup__head h3 {
	padding-top: 5px;
	width: 80%;
	text-align: center;
}

.postup__num {
	width: 20%;
	margin-right: 20px;
	/* padding: 10px; */
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	background-color: #a7a7a7;
}

.postup__num span {
	color: #fff;
}

@media screen and (max-width: 1300px) {
	.postup__inner {
		flex-wrap: wrap;
	}
	.postup__item {
		width: calc(50% - 20px);
	}
}
@media screen and (max-width: 768px) {
	.postup__item {
		width: 100%;
	}
}

/* ------------------------------- / page main ------------------------------ */


/* --------------------------------- choose --------------------------------- */
/* .choose {
	margin-bottom: 55px;
	padding: 30px 40px;
	background-color: var(--gray_light);
} */

.choose__title {
	padding-bottom: 20px;
	font-size: 24px;
	text-align: center;
}

/* .choose__variants {
	margin-bottom: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}

.choose__var {
	display: flex;
	box-shadow: 0 1px 6px 0 rgb(0 0 0 / 16%);
}

.choose__var a {
	width: 50%;
}

.choose__var_right {
	width: 50%;
	padding: 20px 20px 10px 20px;
	background-color: var(--white)
}

.choose__var_right h3 {
	margin-bottom: 10px;
	font-weight: 600;
}

.choose__var_right p {
	margin-bottom: 30px;
	font-size: 14px;
} */



/* @media screen and (max-width: 1400px) {
	.choose__variants {
		grid-template-columns: 1fr;
		grid-gap: 30px;
	}

	.choose__var_right {
		padding: 60px 40px 0px 40px;
	}
}

@media screen and (max-width: 992px) {
	.choose__var_right {
		padding: 20px;
	}

	.choose__var_right p {
		padding-bottom: 30px;
		margin: 0;
	}

	.choose {
		padding: 20px;
	}
} */

/* .choose__install .choose__title {
	color: red;
}

.choose__install {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.choose__install .choose__title {
	font-weight: 700;
}

.choose__install p {
	font-size: 14px;
	margin-bottom: 20px;
} */


/* @media screen and (max-width: 768px) {
	.choose__variants {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 20px;
	}

	.choose__var {
		flex-direction: column;
	}

	.choose__var a {
		width: 100%;
	}

	.choose__var_right {
		width: calc(100% - 40px);
	}

	.choose__var_right .btn__cta_second {
		margin-bottom: 40px;
	}

	.choose {
		padding: 10px;
	}
} */

/* -------------------------------- / choose -------------------------------- */



/* ------------------------------- components ------------------------------- */
/* .components {
	margin-bottom: 40px;
	padding: 30px;
	background-color: var(--gray_light);
}

.components__list {
	margin: 0 auto;
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
}

.component {
	width: calc(16.6% - 2 * 10px);
	margin: 20px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.component a {
	width: 100%;
	height: 100%;
	position: relative;
}

.component__name {
	bottom: 0;
	left: 0;
	width: 100%;
	position: absolute;
	padding: 10px 0;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--dark);
	color: var(--white);
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	-o-transition: .1s;
}

.component:hover .component__name {
	color: var(--black);
	background-color: var(--btn_first_hov);
}

@media screen and (max-width: 1300px) {
	.component {
		width: calc(25% - 2 * 10px);
	}
}

@media screen and (max-width: 992px) {
	.component {
		width: calc(33% - 2 * 10px);
	}
}

@media screen and (max-width: 768px) {
	.components {
		padding: 30px 0;
	}

	.component {
		width: calc(50% - 2 * 10px);
	}

	.component__name {
		font-size: 10px;
	}
}

@media screen and (max-width: 440px) {
	.component {
		width: calc(100% - 2 * 10px);
	}
} */


/* ribbon */
/* .ribbon {
	z-index: 1;
	width: 70px;
	height: 70px;
	overflow: hidden;
	position: absolute;
}

.ribbon::before,
.ribbon::after {
	position: absolute;
	z-index: -1;
	content: '';
	display: block;
	border: 3px solid #D5162A;
}

.ribbon span {
	position: absolute;
	display: block;
	font-weight: 700;
	font-size: 10px;
	width: 152px;
	padding: 4px 0;
	background: linear-gradient(#ee2f43 0%, #ed1e24 100%);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-transform: uppercase;
	text-align: center;
} */

/* ribbon pozition top right*/
/* .ribbon-top-right {
	top: -6px;
	right: -6px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
	border-top-color: transparent;
	border-right-color: transparent;
}

.ribbon-top-right::before {
	top: 0;
	left: 0;
}

.ribbon-top-right::after {
	bottom: 0;
	right: 0;
}

.ribbon-top-right span {
	left: -37px;
	top: 18px;
	transform: rotate(45deg);
} */
/* ribbon */

/* ------------------------------ / components ------------------------------ */










/* ------------------------------ page schuzka ------------------------------ */
.app {
	max-width: 992px;
	margin: 0 auto;
}


.app__controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}

.app__controls .btn__cta_second {
	border: 0;
}

/* ----------------------------- / page schuzka ----------------------------- */



/* --------------------------------- kitchen list item -------------------------------- */
/* next125 */
.kitchen__wrapper {
	padding: 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.kitchen__item {
	width: auto;
	margin-bottom: 60px;
	position: relative;
}

.kitchen__item_img {
	overflow: hidden;
}

.kitchen__item_big {
	max-height: 440px;
}

.kitchen__item_small {
	max-height: 340px;
}

.kitchen__item_big .kitchen__item_img {
	max-height: 440px;
}

.kitchen__item_small .kitchen__item_img {
	max-height: 340px;
}

.kitchen__item:hover img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.kitchen__item a {
	width: 100%;
	height: 100%;
}

.kitchen__item_big {
	width: 100%;
}

.kitchen__item_small {
	width: calc(50% - 20px);
	height: 340px;
}

.kitchen__items_small_wrap {
	padding: 0 0;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.kitchen__item img {
	width: 100%;
	max-height: 440px;
	object-fit: cover;
	overflow: hidden;
	object-position: center;
	transition: .9s;
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
}

.kitchen__item_desc {
	padding: 20px;
	left: -1px;
	max-width: 85%;
	position: absolute;
	width: auto;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, white 90%);
}

.kitchen__item_big .kitchen__item_desc {
	top: 380px;
}

.kitchen__item_small .kitchen__item_desc {
	top: 280px;
}

.kitchen__item_desc h3 {
	font-size: 38px;
	font-weight: 700;
	color: var(--black);
}

.kitchen__item_desc p {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--gray);
}

@media screen and (max-width: 1578px) {
	.kitchen__wrapper {
		padding: 0px 10px;
	}
}

@media screen and (max-width: 1400px) {
	.kitchen__item_big {
		max-height: 424px;
	}

	.kitchen__item_big .kitchen__item_desc {
		top: 365px;
	}

	.kitchen__item_big .kitchen__item_img {
		max-height: 424px;
	}

	.kitchen__item_small {
		max-height: 330px;
		width: calc(50% - 5px);
	}

	.kitchen__item_small .kitchen__item_desc {
		top: 270px;
	}

	.kitchen__item_small .kitchen__item_img {
		max-height: 330px;
	}
}

@media screen and (max-width: 1200px) {
	.kitchen__item_big {
		max-height: 347px;
	}

	.kitchen__item_big .kitchen__item_img {
		max-height: 347px;
	}

	.kitchen__item_big .kitchen__item_desc {
		top: 285px;
	}

	.kitchen__item_small {
		max-height: 282px;
	}

	.kitchen__item_small .kitchen__item_desc {
		top: 220px;
	}

	.kitchen__item_small .kitchen__item_img {
		max-height: 282px;
	}
}

@media screen and (max-width: 992px) {
	.kitchen__wrapper {
		padding: 20px 0;
	}

	.kitchen__item_desc h3 {
		font-size: 32px;
	}

	.kitchen__item_big {
		max-height: 266px;
	}

	.kitchen__item_big .kitchen__item_img {
		max-height: 266px;
	}

	.kitchen__item_big .kitchen__item_desc {
		top: 210px;
	}

	.kitchen__item_small {
		max-height: 233px;
	}

	.kitchen__item_small .kitchen__item_desc {
		top: 175px;
	}

	.kitchen__item_small .kitchen__item_img {
		max-height: 233px;
	}
}

@media screen and (max-width: 768px) {
	.kitchen__item_big {
		max-height: 180px;
	}

	.kitchen__item_big .kitchen__item_img {
		max-height: 180px;
	}

	.kitchen__item_big .kitchen__item_desc {
		top: 150px;
	}

	.kitchen__item_small {
		max-height: 180px;
	}

	.kitchen__item_small .kitchen__item_desc {
		top: 138px;
	}

	.kitchen__item_small .kitchen__item_img {
		max-height: 180px;
	}

	.kitchen__item_desc {
		padding: 10px;
	}

	.kitchen__item_desc h3 {
		font-size: 20px;
	}
}

@media screen and (max-width: 600px) {
	.kitchen__item_big {
		max-height: 160px;
	}

	.kitchen__item_big .kitchen__item_img {
		max-height: 160px;
	}

	.kitchen__item_big .kitchen__item_desc {
		top: 130px;
	}

	.kitchen__item_big {
		width: calc(100% - 10px);
	}

	.kitchen__items_small_wrap {
		padding: 0 5px;
	}

	.kitchen__item_small {
		max-height: 165px;
	}

	.kitchen__item_small .kitchen__item_desc {
		top: 133px;
	}

	.kitchen__item_small .kitchen__item_img {
		max-height: 165px;
	}

	.kitchen__item_desc {
		max-width: 100%;
	}

	.kitchen__item_desc h3 {
		font-size: 18px;
	}
}

@media screen and (max-width: 475px) {
	.kitchen__item {
		max-height: 150px;
	}

	.kitchen__item_img {
		max-height: 150px;
	}

	.kitchen__item_desc {
		top: 120px;
	}

	.kitchen__items_small_wrap {
		flex-direction: column;
		justify-content: center;
	}

	.kitchen__item_small {
		width: 100%;
	}

	.kitchen__item_desc p {
		font-size: 14px;
	}
}

/* -------------------------------- / kitchen item ------------------------------- */


/* ------------------------------ kitchen page ------------------------------ */
/* 1 page */
/* kitchen hero */
.kitchen__hero {
	margin-bottom: 120px;
}

.kitchen_page__item_desc h1 {
	font-size: 90px;
	font-weight: 700;
}

.kitchen__hero_img {
	padding: 0 50px;
	height: 774px;
	position: relative;
}

.kitchen__hero_img img {
	max-height: 774px;
	width: 100%;
}

.kitchen_page__item_desc {
	position: absolute;
	padding: 20px 10vw 30px 12vw;
	bottom: -60px;
	left: -1px;
	display: flex;
	align-items: center;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, white 90%);
}

.kitchen__hero_desc {
	margin-top: 80px;
	padding: 0 160px;
	display: flex;
}

.hero__desc_title,
.hero__desc_text {
	width: 50%;
}

.hero__desc_title {
	padding-right: 20px;
}

.hero__desc_title h2 {
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 700;
	color: var(--black);
}

.hero__desc_title a {
	margin-bottom: 25px;
	font-size: 20px;
	display: block;
	width: auto;
	text-transform: uppercase;
	color: #b2b2b2;
}

.hero__desc_title span {
	position: relative;
}

.hero__desc_title span:after {
	content: "";
	background-image: url(../img/icons/next.svg);
	background-size: cover;
	width: 22px;
	height: 22px;
	position: absolute;
	right: -25px;
	top: 0px;
	display: block;
}

.hero__desc_text p {
	line-height: 2;
	font-size: 20px;
	font-weight: 400;
}


/* kitchen short description */
.kitchen__short_desc {
	margin: 0 auto;
	margin-bottom: 175px;
	max-width: 926px;
	padding: 0 40px;
	overflow: hidden;
}

.short_desc_img {
	max-width: 926px;
	max-height: 615px;
	overflow: hidden;
}

.kitchen__img_wrap img {
	transition: .9s;
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
}

.kitchen__img_wrap img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.kitchen__short_desc p {
	margin-top: 40px;
	font-size: 21px;
	line-height: 2;
}


/* kitchen details */
.kitchen__details {
	margin-bottom: 175px;
	padding: 0 60px;
}

.kitchen__details h2 {
	font-size: 82px;
	margin-bottom: 115px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.kitchen__details_content {
	display: flex;
	justify-content: space-between;
}

.kitchen__details_text,
.kitchen__details_img {
	width: calc(50% - 20px);
	overflow: hidden;
}

.kitchen__details_img {
	max-width: 50%;
	max-height: 683px;
}

.kitchen__details_text p {
	font-size: 21px;
	line-height: 2;
	font-weight: 400;
}

.kitchen__details_text a {
	margin-top: 60px;
	display: block;
	max-width: fit-content;
	padding: 20px 30px;
	font-weight: 700;
	font-size: 21px;
	border-radius: 6px;
	color: var(--white);
	background-color: var(--black);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	text-transform: uppercase;
}


/* kitchen width */
.kitchen__width {
	padding: 0 60px;
	margin-bottom: 175px;
}

.kitchen__width_img {
	max-width: 100%;
	max-height: 531px;
	overflow: hidden;
}

.kitchen__width p {
	max-width: 926px;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 21px;
	line-height: 2;
}


@media screen and (max-width: 1400px) {
	.kitchen__hero_img {
		padding: 0 38px;
		max-height: 426px;
	}

	.kitchen__hero_img img {
		max-height: 426px;
	}

	.kitchen_page__item_desc h1 {
		font-size: 83px;
	}

	.hero__desc_title h2 {
		font-size: 26px;
	}

	.hero__desc_title a {
		font-size: 18px;
	}

	.hero__desc_text p {
		font-size: 18px;
	}

	.kitchen__short_desc p {
		font-size: 18px;
	}

	.kitchen__details {
		padding: 0 38px;
	}

	.kitchen__details h2 {
		font-size: 67px;
	}

	.kitchen__details_text p {
		font-size: 18px;
	}

	.kitchen__details_text a {
		font-size: 18px;
		padding: 15px 20px;
	}

	.kitchen__width {
		padding: 0 38px;
	}

	.kitchen__width p {
		font-size: 18px;
	}
}

@media screen and (max-width: 992px) {
	.kitchen__hero {
		margin-bottom: 80px;
	}

	.kitchen__hero_img {
		padding: 0 20px;
	}

	.kitchen__hero_desc {
		padding: 0 100px;
	}

	.kitchen_page__item_desc {
		padding: 20px 9vw 20px 9vw;
	}

	.kitchen_page__item_desc h1 {
		font-size: 69px;
	}

	.hero__desc_title h2 {
		font-size: 21px;
	}

	.hero__desc_title a {
		font-size: 16px;
	}

	.hero__desc_text p {
		font-size: 16px;
	}

	.hero__desc_title span:after {
		width: 17px;
		height: 17px;
		top: -1px;
	}

	.kitchen__short_desc {
		margin-bottom: 75px;
	}

	.kitchen__short_desc p {
		font-size: 16px;
	}

	.kitchen__details {
		margin-bottom: 80px;
		padding: 0 20px;
	}

	.kitchen__details h2 {
		font-size: 55px;
		margin-bottom: 35px;
	}

	.kitchen__details_text p {
		font-size: 16px;
	}

	.kitchen__details_text a {
		font-size: 16px;
		margin-bottom: 30px;
	}

	.kitchen__details_content {
		flex-direction: column;
	}

	.kitchen__details_text,
	.kitchen__details_img {
		width: 100%;
		max-width: 100%;
		max-height: 683px;
	}

	.kitchen__width {
		padding: 0 20px;
		margin-bottom: 80px;
	}

	.kitchen__width p {
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {
	.kitchen__hero_img {
		max-height: 343px;
	}

	.kitchen__hero_img img {
		max-height: 343px;
	}

	.kitchen__hero_desc {
		padding: 0 20px;
	}

	.kitchen_page__item_desc {
		padding: 20px 5vw 20px 5vw;
		bottom: -45px;
	}

	.kitchen_page__item_desc h1 {
		font-size: 50px;
	}

	.hero__desc_title h2 {
		font-size: 18px;
	}

	.hero__desc_text p {
		font-size: 14px;
	}

	.hero__desc_title span:after {
		width: 15px;
		height: 15px;
		top: 0px;
	}

	.kitchen__short_desc {
		margin-bottom: 60px;
		padding: 0 20px;
	}

	.kitchen__short_desc p {
		font-size: 14px;
		margin-top: 20px;
	}

	.kitchen__width p {
		font-size: 14px;
	}

	.kitchen__details h2 {
		font-size: 40px;
		margin-bottom: 25px;
	}

	.kitchen__details {
		padding: 0 20px;
		margin-bottom: 60px;
	}

	.kitchen__details_text p {
		font-size: 14px;
	}

	.kitchen__details_text a {
		font-size: 14px;
		padding: 13px 15px;
		/* margin-bottom: 30px; */
	}

}

@media screen and (max-width: 600px) {
	.kitchen__hero_img {
		max-height: 220px;
		padding: 0 10px;
	}

	.kitchen__hero_img img {
		max-height: 220px;
		padding: 0;
	}

	.kitchen_page__item_desc h1 {
		font-size: 46px;
	}

	.kitchen__hero_desc {
		margin-top: 40px;
		flex-direction: column;
	}

	.hero__desc_title,
	.hero__desc_text {
		width: 100%;
	}

	.hero__desc_title h2 {
		margin-bottom: 15px;
	}

	.hero__desc_title a {
		margin-bottom: 10px;
		font-size: 13px;
	}

	.hero__desc_title span:after {
		width: 13px;
		height: 13px;
		right: -20px;
	}

	.kitchen__short_desc {
		padding: 0 10px;
	}

	.kitchen__details {
		padding: 0 10px;
	}

	.kitchen__width {
		padding: 0 10px;
	}
}

@media screen and (max-width: 425px) {
	.kitchen__hero_img {
		height: auto;
	}

	.kitchen__hero_img img {
		padding: 0;
	}

	.kitchen_page__item_desc h1 {
		font-size: 38px;
	}

	.kitchen_page__item_desc {
		bottom: -36px;
	}

	.hero__desc_title a {
		margin-bottom: 10px;
		font-size: 13px;
	}

	.hero__desc_title span:after {
		width: 13px;
		height: 13px;
		right: -20px;
	}

	.kitchen__short_desc p {
		margin-top: 20px;
	}
}

/* kitchen front */

.kitchen__front {
	margin-bottom: 175px;
	padding: 0 60px;
}

.front__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.front__left,
.front__right {
	width: 50%;
}

.front__left h2 {
	font-size: 82px;
	font-weight: 700;
	margin-bottom: 20px;
}

.front__left span {
	font-size: 21px;
	font-weight: 700;
	color: #b2b2b2;
}

.front__right {
	font-size: 21px;
	font-weight: 400;
	line-height: 2;
}

.front__bot {
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
}

.front__bot_first {
	padding: 25px 25px;
	background: #f4f4f4;
	position: relative;
	width: calc(16.6% - 90px);
}

.front__bot_first::before {
	content: "";
	position: absolute;
	bottom: 10px;
	right: 12px;
	width: 26px;
	height: 26px;
	color: inherit;
	background-image: url(../img/icons/right_arrow_long.svg);
	background-size: cover;
}

.front__bot_first h4 {
	margin-bottom: 55px;
	font-size: 15px;
	font-weight: 700;
	color: #b2b2b2;
}

.front__bot_first h3 {
	margin-bottom: 55px;
	font-size: 31px;
	font-weight: 700;
}

.front__bot li {
	max-width: calc(16.6% - 40px);
	margin: 0 20px 40px 20px;
	flex: 1 1 auto;
}

.front__bot_norm h4 {
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 700;
}

@media screen and (max-width: 1300px) {
	.front__bot li {
		max-width: calc(20% - 40px);
	}
}

@media screen and (max-width: 1100px) {
	.kitchen__front {
		padding: 0 20px;
	}

	.front__left h2 {
		font-size: 61px;
	}

	.front__left span {
		font-size: 15px;
	}

	.front__right {
		font-size: 17px;
	}

	.front__bot li {
		max-width: calc(25% - 40px);
	}

	.front__bot_first h3 {
		font-size: 24px;
	}
}

@media screen and (max-width: 992px) {
	.front__top {
		flex-direction: column;
	}

	.front__left,
	.front__right {
		width: 100%;
	}

	.front__left {
		margin-bottom: 30px;
	}

	.front__left h2 {
		margin-bottom: 15px;
	}

	.front__bot li {
		max-width: calc(33.3% - 40px);
	}
}

@media screen and (max-width: 768px) {
	.front__bot li {
		max-width: calc(50% - 40px);
	}
}

@media screen and (max-width: 600px) {
	.kitchen__front {
		padding: 0 10px;
	}

	.front__bot li {
		max-width: calc(50% - 20px);
		margin: 0 10px 20px 10px;
	}

	.front__bot {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}

	.front__bot h4 {
		margin-top: 5px;
	}
}

/* ----------------------------- / kitchen page ----------------------------- */