/* 

-reseter
-variables
-utilities


*/


/* -------------------------------- resetter -------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: var(--black);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* upd */
a,
a:hover {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
/* ------------------------------- / resetter ------------------------------- */


/* -------------------------------- variables ------------------------------- */
:root {
	--dark: #1a3138;
	--black_light: #193137;
	--black: #000;
	--white: #fff;
	--gray_light: #f5f5f5;
	--black_hover: rgba(0, 0, 0, 0.65);
	--btn-first: #ffcc00;
}
/* ------------------------------- / variables ------------------------------ */


/* -------------------------------- utilities ------------------------------- */
body {
	overflow-x: hidden;
	box-sizing: border-box;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}

.container {
	max-width: 1600px;
	margin:  0 auto;
	padding: 0 40px;
}

.btn__cta_first {
	background-color: var(--btn-first);
  font-size: 14px;
  color: var(--black_light);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
	padding: 10px 16px;
	width: auto;
	
}

.btn__cta_first img {
	width: 14px;
	margin-right: 10px;
}

.btn__cta_second {
	padding: 8px 18px;
	border-radius: 2px;
	font-size: 14px;
  border-radius: 2px;
	border: 1px solid #27748C;
	font-weight: 600;
	color: #27748c;
	text-transform: uppercase;
}

/* ------------------------------- / utilities ------------------------------ */


/* ------------------------------- breadcrumbs ------------------------------ */
.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	display: inline;
}

.breadcrumbs__list {
	/* width: 100%; */
}

.breadcrumbs > li{
	/* width: auto; */
	display: inline-block;
	position: relative;
	padding-right: 5px;
}

.breadcrumbs > li:not(:first-child){
	padding-left: 10px;
}

.breadcrumbs > li + li:before {
	content: '>\00a0';
	position: absolute;
	left: 0;
	top: 1px;
	color: var(--dark);
}

.breadcrumbs a {
	color: var(--dark);
	font-size: 12px;
  font-weight: 500;
}
/* ------------------------------ / breadcrumbs ----------------------------- */


/* -------------------------------- category -------------------------------- */
/* titles */
.cat__title {
	margin-bottom: 50px;
	font-size: 40px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
	color: var(--black_light);
}

.cat__title_desc {
	display: block;
	margin-bottom: 40px;	
  color: var(--black);
  font-size: 24px;
  text-align: center;
}

.cat__paragraph {
	margin-bottom: 20px;
	text-align: center;
	font-size: 14px;
  line-height: 1.4;
  color: var(--dark);
}

.cat__types {
	display: grid;
	grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 10px;
	margin-bottom: 40px;
}

.cat__types li {
	overflow: hidden;
}

.cat__type_link {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.cat__type_link:hover .cat_type_content {
	background-color: var(--black_hover);
}

.cat__type_link:hover .cat_type_img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.cat__type_link > img {
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
}

.cat_type_content {
	padding: 20px;
	width: calc(100% - 40px);
	/* height: 50px; */
	position: absolute;
	/* bottom: 5px; */
	bottom: 0;
	left: 0;
	color: var(--white);
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	overflow: hidden;
}

.content__cat_name {
	display: flex;
	margin-bottom: 10px;
	width: fit-content;
	font-size: 18px;
	font-weight: 700;
	position: relative;
}

/* ! TODO */
.content__cat_name:after {
	content: url(../img/icons/next.png);
	width: 10px;
	height: 10px;
	position: absolute;
	right: -20px;
	top: 1px;
}

.content__cat_desc {
	font-weight: 300;
	font-size: 14px;
}



@media screen and (max-width:992px) {
	.cat__types {
		grid-template-columns: 1fr; 
		grid-template-rows: 1fr; 
	}
}
/* -------------------------------- category -------------------------------- */

/* --------------------------------- choose --------------------------------- */
.choose {
	margin-bottom:30px;
	padding: 30px 0px;
	background-color: var(--gray_light);
}

.choose__title {
	margin-bottom: 20px;
	font-size: 24px;
	text-align: center;
}

.choose__variants{
	margin-bottom: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-gap: 30px;
}

.choose__var {
	display: flex;
	box-shadow: 0 1px 6px 0 rgb(0 0 0 / 16%);
}

.choose__var a {
	width: 50%;
}

.choose__var_right {
	width: 50%;
	padding: 20px 20px 10px 20px;
	background-color: var(--white)
}

.choose__var_right h3 {
	margin-bottom: 10px;
	font-weight: 600;
}

.choose__var_right p {
	margin-bottom: 30px;
	font-size: 14px;
}

/* .choose__var_right .btn__cta_second {
	
} */


@media screen and (max-width: 1400px) {
	.choose__variants{
		grid-template-columns: 1fr; 
		grid-gap: 30px;
	}
	.choose__var_right {
		padding: 60px 40px 0px 40px;
	}
}

@media screen and (max-width: 992px) {
	.choose__var_right {
		padding: 20px;
	}
	.choose__var_right p {
		padding-bottom: 30px;
		margin: 0;
	}
	.container {
		padding: 20px;
	}
}

.choose__install .choose__title {
	color: red;
}

.choose__install {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.choose__install .choose__title {
	font-weight: 700;
}
.choose__install p {
	font-size: 14px;
	margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
	.choose__variants{
		grid-template-columns: 1fr; 
		grid-template-rows: 1fr 1fr;
		grid-gap: 20px;
	}
	.choose__var {
		flex-direction: column;
	}
	.choose__var a {
		width: 100%;
	}
	
	.choose__var_right {
		width: calc(100% - 40px);
	}
	.choose__var_right .btn__cta_second {
		margin-bottom: 40px;
	}

}
/* -------------------------------- / choose -------------------------------- */


/* ---------------------------------- upper --------------------------------- */
.upper {
	display: flex;
	justify-content: space-between;
	border-radius: 2px;
	background-color: var(--gray_light);
	position: relative;

}

.up__content {
	max-width: calc(50% - 100px);
	padding: 50px;
	/* display: flex;
	flex-direction: column;
	align-items: center; */

}

.up__content h3 {
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: 700;
	text-align: left;
	margin-right: auto;
}

.up__content p {
	font-size: 14px;
	/* padding-bottom: 20px; */
}

.up__img {
	width: 50%;
	position: absolute;
	top: -15px;
	right: -15px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}

.upper .btn__cta_first {
	margin-top: 15px;
	display: inline-block;
}

@media screen and (max-width: 1640px) {
	.upper {
		margin-left: 20px;
		margin-right: 40px;
		padding: 0;
	}
}

/* --------------------------------- / upper -------------------------------- */
