/* -------------------------------- resetter -------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	z-index: 1;
}

/* upd */
html {
	scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	/* line-height: 1.5; */
	color: var(--black);
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* upd */
a,
a:hover {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {
	border: 0;
	cursor: pointer;
}

/* ------------------------------- / resetter ------------------------------- */


/* -------------------------------- variables ------------------------------- */
:root {
	--main_firm_clr: #ff7200;
	--firm_clr_opacity: rgba(255, 114, 0, .85);
	--top_header: #1a1919;
	--dark: #1a3138;
	--black_light: #193137;
	--black: #000;
	--black_hover: rgba(0, 0, 0, 0.65);
	--white: #fff;
	--gray_light: #f5f5f5;
	--btn_first: #ff7200;
	--btn_first_hov: #E65900;
	--btn_second: #ff7200;
	--border_clr: rgb(230, 230, 230);
	--red: #ee2f43;
	--top_header_nav_link: rgb(153, 153, 151);
	--white_opacity: rgba(255, 255, 255, .65);
	--gray: #b2b2b2;
}

/* ------------------------------- / variables ------------------------------ */


/* -------------------------------- utilities ------------------------------- */
body {
	overflow-x: hidden;
	box-sizing: border-box;
	/* font-family: 'Open Sans', Arial, Helvetica, sans-serif; */
	font-family: 'Arial', Helvetica, sans-serif;

}

img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}

a {
	font-weight: 600;
}

i {
	font-style: italic;
}

b {
	font-weight: 700;
}

.container_header {
	max-width: 1558px;
	margin: 0 auto;
	/* border: 1px solid red; */
}

.container {
	max-width: 1528px;
	margin: 0 auto;
	/* border: 1px solid red; */
}

._title {
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: 800;
	letter-spacing: -1px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: var(--black_light);
}

.btn__cta_first {
	background-color: var(--btn_first);
	font-size: 15px;
	color: var(--white);
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 16px 10px 68px;
	width: auto;
	border-radius: 2px;
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	-o-transition: .1s;
	position: relative;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 26%);
}

.btn__cta_first:hover {
	background-color: var(--btn_first_hov);
	color: var(--white);
}

.btn__cta_first:active {
	background-color: var(--btn_first);
	box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
}

.btn__cta_first::before {
	content: "";
	background-image: url(../img/icons/calendarwhite.svg);
	background-size: cover;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 24px;
}

.btn__cta_first img {
	width: 18px;
	margin-right: 15px;
}

.btn__cta_second {
	padding: 8px 18px;
	border-radius: 2px;
	font-size: 14px;
	border-radius: 2px;
	border: 1px solid var(--btn_second);
	font-weight: 600;
	color: var(--btn_second);
	text-transform: uppercase;
	border-radius: 2px;
	cursor: pointer;
	transition: .1s;
	background-color: transparent;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	-o-transition: .1s;
}

.btn__cta_second:hover {
	color: var(--white);
	background-color: var(--btn_second);
	box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 26%);
}

.btn__cta_second:active {
	box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
}

.btn__cta_trhee {
	padding: 10px 14px;
	font-size: 9px;
	background-color: #ed702d;
	color: var(--white);
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

.btn__cta_trhee:hover {
	cursor: pointer;
	color: inherit;
	box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 26%);
}

.btn__cta_trhee:active {
	box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);

}

.btn__cta_trhee img {
	max-width: 15px;
	object-fit: cover;
	display: none;
}


.btn__cta_four {
	padding: 8px 18px;
	font-size: 14px;
	font-weight: 500;
	color: var(--main_firm_clr);
	text-transform: lowercase;
	background-color: transparent;
	cursor: pointer;
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	-o-transition: .1s;
}

.btn__meet_offer {
	margin: 10px;
	height: 35px;
	border: 1px solid #f8cdb6;
	font-size: 13px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	padding: 5px 19px 5px 65px;
	text-transform: uppercase;
	white-space: nowrap;
	position: relative;
	color: #fcf6f4;
	background-color: #cc642a;
}

.btn__meet_offer::before {
	content: "";
	background-image: url(../img/icons/calendarwhite.png);
	background-size: cover;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -5px;
	left: 15px;
}

.no_mb {
	margin-bottom: 0 !important;
}

.no_scroll {
	overflow: hidden;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}

/* ------------------------------- / utilities ------------------------------ */



/* --------------------------------- header --------------------------------- */
/* top header */
.header__top_wrap {
	background-color: var(--top_header);
	/* padding-right: 20px; */
	/* display: flex; */
	/* vertical-align: middle; */
	/* align-items: center; */
	/* 28 */
	margin: 0 auto;
	height: 31px;
	border-bottom: 2px solid #303030;
}

.header__top {
	max-width: 1558px;
	/* 28 */
	height: 31px;
	display: flex;
	align-items: center;
	background-color: var(--top_header);
}

.header__top h1 {
	/* margin-top: 5px; */
	font-size: 12px;
	font-weight: 400;
	color: #898989;
}

.header__top_online {
	display: flex;
	align-items: center;
	margin-right: 20px;
	margin-left: auto;
}

.header__top_online img {
	width: 21px;
	/* margin-top: 5px; */
	/* margin-bottom: 4px; */
	margin-right: 5px;
}

.header__top_online span {
	margin-top: 10px;
	margin-bottom: 8px;
	font-size: 13px;
	white-space: nowrap;
	color: #fc5900;
}

.header__top_nav {
	color: var(--top_header_nav_link);
	display: flex;
}

.header__top_nav a {
	margin-right: 17px;
	margin-top: 1px;
	font-size: 13px;
	font-weight: 300;
	color: #c7c7c7;
	text-transform: uppercase;
}

.header__top_nav a:last-child {
	/* margin-right: 48px; */
	color: #fc5900;
}

.header__top_nav a:hover {
	color: var(--white)
}

/* / top header */

/* mid header */
.header__mid_wrap {
	background-color: var(--black);
	border-bottom: 1px solid #7b7b7b;
	height: 57px;
}

.header__mid {
	/* padding: 9px 0px; */
	max-width: 1558px;
	height: 57px;
	display: flex;
	/* justify-content: space-between; */
	/* align-items: center; */
	background-color: var(--black);
}

.header__mid img {
	/* max-height: 40px; */
}

.header__mid_main_logos {
	padding-top: 8px;
	padding-left: 15px;
	/* margin-right: 70px; */
	height: 47px;
	display: flex;
}


.header__mid_main_logos img {
	height: 42px;
}

.header__mid_main_logos a {
	height: 47px;
}

.header__mid_main_logos a:first-child {
	margin-right: 25px;
}

.lightstyle__logo img {
	height: 35px;
	padding-top: 4px;
}

.header__mid_logos {
	padding-top: 8px;
	margin-left: auto;
}

.header__mid_logos a {
	display: inline-block;
	padding: 4px 24px;
}

.header__mid_logos a:nth-child(1) {
	margin-top: 3px;
}

.header__mid_logos a:nth-child(2) {
	border-left: 1px solid #575757;
	border-right: 1px solid #575757;
}

.logo__img_next125 {
	height: 23px;
}

.logo__img_schuller {
	height: 20px;
}

.logo__img_nobilia {
	height: 18px;
	/* margin-top: -3px; */
}

.header__mid_logos a:not(:first-child) {}

.header__mid_logos a:not(:last-child) {}

.header__btn_form__wrapper {
	/* margin-top: 9px; */
	margin-right: 35px;
	display: flex;
	margin-left: auto;
	/* align-items: center; */
}

.header__btns_wrapper {
	display: flex;
	align-items: center;
}

.header__form {
	display: flex;
	align-items: center;
}

.header__form .btn__cta_trhee {
	margin-left: 3px;
	max-height: 27px;
}

.header__input {
	height: 27px;
	width: 392px;
	padding-left: 10px;
}

.header__cart_link {
	/* margin-top: 8px; */
	margin-right: 23px;
	display: flex;
	align-items: center;
	color: var(--white);
}

.header__cart_link:hover {
	color: var(--white);
}

.header__cart_link span {
	margin-left: 2px;
	margin-right: 2px;
	display: flex;
	font-size: 11px;
}

.header__cart_icon {
	margin-left: 7px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	background-color: var(--main_firm_clr);
	position: relative;
	/* z-index: 8; */
}

.header__cart_icon::after {
	/* z-index: 9; */
	content: "";
	/* background-image:url(../img/icons/calendar.svg); */
	background-image: url(../img/icons/kosik.png);
	background-size: cover;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 5px;
	top: 7px;
	display: block;
}

/* / mid header */

/* header bot */
.header__bot_wrap {
	background-color: var(--main_firm_clr);
	height: 63px;
	border-bottom: 2px solid #7b7b7b;
}

.header__bot {
	margin: 0 auto;
	max-width: 1558px;
	/* width: 100%; */
	height: 63px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--main_firm_clr);
	align-items: center;
}

.header__bot li {
	height: 63px;
	width: 100%;
	text-align: center;
	align-items: center;
	display: flex;
	border-right: 1px solid #e9612c;
	border-left: 1px solid #eb7d31;
}

.btn__meet_wrap {
	padding: 0 47px 0 4px;
}

.header__bot li:first-child {
	border-left: 0;
}

.header__bot li:last-child {
	border-right: 0;
}


.header__bot a {
	margin: 0 auto;
	height: 56px;
	/* padding: 0 25px; */
	font-size: 16px;
	width: auto;
	font-weight: 300;
	display: flex;
	align-items: center;
	color: var(--white);
	/* text-transform: uppercase; */
	white-space: nowrap;
}

.header__bot a:hover {
	color: var(--black);
}

.header__bot a:hover::before {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	border-top: 7px solid var(--black);
}

.dropdown {
	position: relative;
}

.dropdown:before {
	content: "";
	position: absolute;
	top: 24px;
	left: -17px;
	width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 7px solid #d5d6d6;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
}



/* / header bot */

/* header bot firms */
.header__bot_firms {
	height: 31px;
	margin-bottom: 20px;
	background-color: var(--black);
}

.header__firm_list {
	max-width: 1558px;
	padding: 0 0;
	display: flex;
	/* justify-content: space-between; */
}

.header__firm_list li {
	border-right: 2px solid #3f3f3f;
	width: 100%;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
}

.header__firm_list li:last-child {
	border-right: 0;
}

.header__firm_list a {
	/* padding: 0 0; */
	height: 31px;
	/* width: 100%; */
	width: auto;
	display: flex;
	justify-content: center;
	/* justify-content: space-around; */
	align-items: center;
}

.header__firm_list img {
	height: 12px;
	margin-right: 15px;
}

.header__firm_list span {
	font-size: 11px;
	/* line-height: 30px; */
	color: #7c7c7c;
	white-space: nowrap;
}

/* / header bot firms */

/* @media screen and (max-width: 1600px) {
	.header__bot li:first-child {
		border-left: 0;
	}

	.header__bot li:last-child {
		border-left: 0;
	}
} */


@media screen and (max-width: 1510px) {
	.header__input {
		width: auto;
	}
}

@media screen and (max-width: 1400px) {
	.header__firm_list span {
		font-size: 9px;
	}

	.header__firm_list img {
		height: 9px;
	}
}


@media screen and (max-width: 1370px) {
	.header__mid_main_logos {
		margin-right: 0;
	}

	.header__mid {
		/* justify-content: space-between; */
	}


	/* .header__mid .btn__cta_trhee_lg {
		padding: 8px 16px;
		font-size: 14px;
	} */

	/* .header__bot a {
		padding: 10px 0;
		font-size: 14px;
	} */

	.header__mid .btn__cta_trhee span {
		display: none;
	}

	.header__mid .btn__cta_trhee img {
		display: block;
	}
}

@media screen and (max-width: 1274px) {
	/* .header__bot a {
		padding: 7px 0;
		font-size: 12px;
	} */

	/* .header__mid img {
		max-height: 20px;
	} */

	.header__mid_logos {
		display: none;
	}

	.btn__meet_wrap {
		padding: 0;
	}

	.header__bot a {
		height: 56px;
		font-size: 14px;
	}

	.header__bot_firms {
		display: none;
	}
}





@media screen and (max-width: 1100px) {
	.header__top_online span {
		font-size: 10px;
	}

	.header__top_nav a {
		font-size: 10px;
	}
}

/* ! burger menu */
@media screen and (min-width: 1070px) {
	.burger__btn {
		display: none;
	}
}

@media screen and (max-width: 1070px) {

	/* ! burger menu*/
	.header__bot_wrap {
		height: auto;
		position: absolute;
		width: 100vw;
		top: 141px;
		left: -100%;
		opacity: 0;
		z-index: 9;
		transition: all .5s;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		-o-transition: all .5s;
	}

	.header__bot {
		height: auto;
		flex-direction: column;
		justify-content: center;
		background-color: var(--firm_clr_opacity);
		/* position: absolute;
	left: -100%;
	opacity: 0;
	z-index: 9; */
	}

	.header__bot li {
		height: auto;
		width: auto;
		border: 0;
		margin-bottom: 15px;
	}

	.dropdown:before {
		top: 5px;
		/* left: -14px; */
	}

	.header__bot a {
		height: auto;
	}

	.btn__meet_offer {
		display: flex;
	}


	/* ! burger button check */
	.burger__btn {
		display: flex;
		flex-direction: column;
		width: 30px;
		margin-left: 15px;
		/* margin-right: 15px; */
		cursor: pointer;
	}

	.burger__btn span {
		background: #fff;
		border-radius: 10px;
		height: 3px;
		margin: 4px 0;
		transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
		-webkit-transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
		-moz-transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
		-ms-transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
		-o-transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
	}


	.burger__btn span:nth-of-type(1) {
		width: 50%;
	}

	.burger__btn span:nth-of-type(2) {
		width: 100%;
	}


	.burger__btn span:nth-of-type(3) {
		width: 75%;
	}


	.burger__btn input[type="checkbox"] {
		display: none;
	}


	.burger__btn input[type="checkbox"]:checked~span:nth-of-type(1) {
		transform-origin: bottom;
		width: 100%;
		transform: rotatez(45deg) translate(7px, 5px);
		-webkit-transform: rotatez(45deg) translate(7px, 5px);
		-moz-transform: rotatez(45deg) translate(7px, 5px);
		-ms-transform: rotatez(45deg) translate(7px, 5px);
		-o-transform: rotatez(45deg) translate(7px, 5px);
	}


	.burger__btn input[type="checkbox"]:checked~span:nth-of-type(2) {
		transform-origin: top;
		width: 100%;
		transform: translate(1px, -1px) rotatez(-45deg);
		-webkit-transform: translate(1px, -1px) rotatez(-45deg);
		-moz-transform: translate(1px, -1px) rotatez(-45deg);
		-ms-transform: translate(1px, -1px) rotatez(-45deg);
		-o-transform: translate(1px, -1px) rotatez(-45deg);
	}


	.burger__btn input[type="checkbox"]:checked~span:nth-of-type(3) {
		transform-origin: bottom;
		width: 50%;
		transform: translate(14px, -8px) rotatez(45deg);
		-webkit-transform: translate(14px, -8px) rotatez(45deg);
		-moz-transform: translate(14px, -8px) rotatez(45deg);
		-ms-transform: translate(14px, -8px) rotatez(45deg);
		-o-transform: translate(14px, -8px) rotatez(45deg);
	}

	.header__mid {
		flex-direction: column;
	}

	.header__btn_form__wrapper {
		/* margin-left: auto; */
		/* order: 3; */
		/* margin-top: 45px; */
		justify-content: space-between;
		width: 100%;
	}

	.header__form {
		margin-right: 15px;
	}

	.header__mid {
		position: relative;
	}

	.electro__logo {
		position: absolute;
		left: 15px;
		top: 10px;
	}

	.header {
		height: 142px;
	}

	.header__cart_link {
		right: 15px;
		top: 10px;
		margin: 0;
		position: absolute;
	}

	.header__btn_form__wrapper {
		margin: 0;
		padding: 10px 0 10px;
	}
	.header__mid {
		height: auto;
	}
	.header__mid_main_logos a:nth-child(2) {
		/* display: none; */
		margin-left: 200px;
	}

}



@media screen and (max-width: 768px) {
	/* .header__top {
		padding: 2px 0;
		justify-content: space-between;
	} */

	/* .header__top_online {
		margin-left: 10px;
		margin-right: 10px;
	} */

	.header__top_online img {
		max-width: 12px;
	}

	.header__top_online span {
		font-size: 8px;
	}

	.header__top_nav a {
		font-size: 8px;
		margin-right: 10px;
	}

	/* .header__mid .btn__cta_trhee_lg {
		padding: 6px 12px;
		font-size: 12px;
	} */

	.header__cart_link span {
		/* font-size: 14px; */
	}

	.header__cart_link {
		margin-top: 3px;
		/* margin-right: 15px; */
	}




}

/* ! toggle burger class */
.header__bot_open {
	position: absolute;
	left: 0;

	opacity: 1;
	width: 100vw;
	/* z-index: 9; */
}


@media screen and (max-width: 666px) {
	.header__top_online {
		margin-right: 5px;
	}

	.header__top_nav a {
		font-size: 6px;
		margin-right: 5px;
	}

	.header__top_nav a:last-child {
		margin-right: 5px;
	}
	.header__mid_main_logos a:nth-child(2) {
		display: none;
	}
}

@media screen and (max-width: 520px) {
	.header__top h1 {
		display: none;
	}

}

@media screen and (max-width: 500px) {
	.header__top_online {
		/* margin: 0; */
	}

	.header__top_online span {
		/* white-space: nowrap; */
		/* font-size: 8px; */
	}

	.header__top_online img {
		/* max-width: 8px; */
	}


	.header__top_nav a {
		/* font-size: 8px; */
	}

	.header__mid {
		/* padding: 10px 5px; */
	}

	.header__form .btn__cta_trhee {
		max-height: 25px;
		padding: 4px 4px;
	}

	.header__btn_form__wrapper .btn__cta_trhee_lg {
		padding: 6px 3px;
		font-size: 10px;
		line-height: 1.25;
		max-height: 25px;
		text-align: center;
		width: auto;
	}

	.header__input {
		height: 23px;
	}
}

@media screen and (max-width: 425px) {
	.header__mid_main_logos img {
		height: 35px;
	}
	.header__cart_link {
    margin-top: 3px;
	}
}

@media screen and (max-width: 400px) {
	.header__top_nav a {
		font-size: 6px;
		margin-right: 3px;
	}

	.header__top_online span {
		white-space: nowrap;
		font-size: 6px;
	}

	.header__top_online img {
		max-width: 7px;
	}

	.header__input {
		width: 120px;
	}

	.header__input:focus {
		width: auto;
	}
}

/* -------------------------------- / header -------------------------------- */



/* -------------------------------- page main ------------------------------- */
/* promo block */
.main__promo {
	margin-bottom: 40px;
	padding: 0px 20px;
	height: 440px;
	display: flex;
}

.main__promo_left {
	margin-right: 20px;
	overflow: hidden;
	width: calc(70% - 20px);
}

.main__promo_left img {
	height: 100%;
	width: 100%;
}

.main__promo_right {
	max-height: 440px;
	width: calc(30%);
	display: flex;
	flex-direction: column;
}

.promo__right_top,
.promo__right_bot {
	max-height: 210px;
	overflow: hidden;
}

.promo__right_top img,
.promo__right_bot img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.promo__right_top {
	margin-bottom: 20px;
}


@media screen and (max-width: 1030px) {
	.main__promo {
		/* padding: 0px 20px; */
		padding: 0 0;
		height: auto;
		flex-direction: column;
	}

	.main__promo_left {
		margin-right: 0;
		overflow: hidden;
		width: calc(100%);
		height: 440px;
		/* margin-bottom: 20px; */
		margin-bottom: 0;
	}

	.main__promo_right {
		width: calc(100%);
		flex-direction: row;
	}

	.promo__right_top {
		/* margin-right: 20px; */
	}

	.main__promo_left {
		height: auto;
	}

	.promo__right_top,
	.promo__right_bot {
		margin: 5px;
	}

	.promo__right_top,
	.promo__right_bot,
	.main__promo_left {
		height: auto;
		overflow: visible
	}
}

@media screen and (max-width: 768px) {
	.main__promo_right {
		/* flex-direction: column; */
	}

	.promo__right_top {
		/* margin-right: 0; */
	}

	.promo__right_top,
	.promo__right_bot,
	.main__promo_left {
		height: auto;
	}
}

/* / promo block */


/* ----------------------------- nav categories ----------------------------- */
.nav__categories {
	margin-bottom: 40px;
	padding: 15px 10px;
	display: flex;
	background-color: var(--gray_light);
}

.nav__categories a {
	margin: 20px;
	display: flex;
	flex-direction: column;
	width: calc(20% - 40px);
}

.nav__categories h3 {
	padding-top: 10px;
	padding-left: 5px;
	font-weight: 600;
	font-size: 16px;
	display: block;
	color: var(--dark);
	overflow: hidden;
}

.nav__categories h3:hover {
	text-decoration: underline;
}

@media screen and (max-width: 992px) {
	.nav__categories a {
		margin: 10px;
		width: calc(20% - 20px);
	}
}

@media screen and (max-width: 768px) {
	.nav__categories {
		padding: 10px 5px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.nav__categories a {
		margin: 5px;
		width: calc(33.3% - 10px);
	}

	.nav__categories h3 {
		font-size: 14px;
		white-space: nowrap;
	}
}

/* ---------------------------- / nav categories ---------------------------- */


/* --------------------------------- trends --------------------------------- */
.trends {
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.trends__list {
	display: flex;
	padding: 0 20px 20px;
}

.trends__list>li {
	margin: 10px;
}

.trends__list a {
	display: block;
	padding-top: 15px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: var(--dark);
}

@media screen and (max-width: 768px) {
	.trends__list {
		flex-direction: column;
	}
}

/* -------------------------------- / trends -------------------------------- */


/* ---------------------------------- news ---------------------------------- */
.news {
	/* padding: 20px 40px; */
	margin-bottom: 40px;
	background-color: var(--gray_light)
}

.news__inner {
	padding: 20px 20px;
}

.news__item_link {
	margin: 15px;
	padding: 10px;
	max-width: 250px;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: var(--white);
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
}

.splide {
	max-width: 900px;
	margin: 0 auto;
	/* padding: 10px 20px 30px 10px; */
}

.splide__slide {
	/* max-width: 270px; */
}

.splide__arrow svg {
	fill: var(--main_firm_clr);
}

.splide__track {
	padding-bottom: 20px;
}

.splide__list {
	/* padding: 30px; */
}

.splide__arrow {
	background: none;
}

.splide__arrow--prev {
	left: -1.7em;
}

.splide__arrow--next {
	right: -1.7em;
}

.splide__pagination__page .is-active {
	background: var(--main_firm_clr)
}

.news__label {
	padding: 5px 10px;
	position: absolute;
	top: 10px;
	left: 0;
	color: var(--red);
	z-index: 2;
	background-color: var(--white);
}

.news__img {
	max-width: 100%;
	object-fit: cover;
}

.news__title {
	margin: 20px 0 20px;
	font-size: 14px;
	font-weight: 600;
	color: var(--dark);
}

.news__price {
	margin-left: auto;
	color: var(--dark);
	font-size: 24px;
	font-weight: bold;
}

@media screen and (max-width:992px) {}

/* --------------------------------- / news --------------------------------- */



/* -------------------------------- firm loga ------------------------------- */
.firm__loga {
	margin-bottom: 90px;
}

.firm__loga_inner {
	margin: 0 auto;
	max-width: 800px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.firm__loga_inner img {
	max-height: 40px;
}


.firm_log {
	margin: 5px 10px;
	filter: gray;
	-webkit-filter: saturate(0%) grayscale(100%) brightness(0%);
	opacity: .3;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.firm_log:hover {
	filter: none;
	opacity: 1;
	-webkit-filter: none;
}



/* ------------------------------- / firm loga ------------------------------ */

/* ------------------------------- / page main ------------------------------ */





/* ------------------------------ page kuchyne ------------------------------ */
/* -------------------------------- category -------------------------------- */
.category {
	padding: 0 40px;
}

.cat__title_desc {
	display: block;
	margin-bottom: 40px;
	color: var(--black);
	font-size: 24px;
	text-align: center;
}

.cat__paragraph {
	margin-bottom: 20px;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	color: var(--dark);
}

.cat__types {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 10px;
	margin-bottom: 40px;
}

.cat__types li {
	overflow: hidden;
}

.cat__type_link {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.cat__type_link:hover .cat_type_content {
	background-color: var(--black_hover);
}

.cat__type_link:hover .cat_type_img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.cat__type_link>img {
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
}

.cat_type_content {
	padding: 20px;
	width: calc(100% - 40px);
	position: absolute;
	bottom: 0;
	left: 0;
	color: var(--white);
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	overflow: hidden;
}

.content__cat_name {
	display: flex;
	margin-bottom: 10px;
	width: fit-content;
	font-size: 18px;
	font-weight: 700;
	position: relative;
}

.content__cat_name:after {
	content: url(../img/icons/next.png);
	width: 10px;
	height: 10px;
	position: absolute;
	right: -20px;
	top: 1px;
}

.content__cat_desc {
	font-weight: 300;
	font-size: 14px;
}


@media screen and (max-width:992px) {
	.category {
		padding: 0 20px;
	}

	.cat__types {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
}

@media screen and (max-width:768px) {
	.category {
		padding: 0 10px;
	}
}

/* -------------------------------- category -------------------------------- */

/* --------------------------------- choose --------------------------------- */
.choose {
	margin-bottom: 55px;
	padding: 30px 40px;
	background-color: var(--gray_light);
}

.choose__title {
	padding-bottom: 20px;
	font-size: 24px;
	text-align: center;
}

.choose__variants {
	margin-bottom: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}

.choose__var {
	display: flex;
	box-shadow: 0 1px 6px 0 rgb(0 0 0 / 16%);
}

.choose__var a {
	width: 50%;
}

.choose__var_right {
	width: 50%;
	padding: 20px 20px 10px 20px;
	background-color: var(--white)
}

.choose__var_right h3 {
	margin-bottom: 10px;
	font-weight: 600;
}

.choose__var_right p {
	margin-bottom: 30px;
	font-size: 14px;
}



@media screen and (max-width: 1400px) {
	.choose__variants {
		grid-template-columns: 1fr;
		grid-gap: 30px;
	}

	.choose__var_right {
		padding: 60px 40px 0px 40px;
	}
}

@media screen and (max-width: 992px) {
	.choose__var_right {
		padding: 20px;
	}

	.choose__var_right p {
		padding-bottom: 30px;
		margin: 0;
	}

	.choose {
		padding: 20px;
	}
}

.choose__install .choose__title {
	color: red;
}

.choose__install {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.choose__install .choose__title {
	font-weight: 700;
}

.choose__install p {
	font-size: 14px;
	margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
	.choose__variants {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 20px;
	}

	.choose__var {
		flex-direction: column;
	}

	.choose__var a {
		width: 100%;
	}

	.choose__var_right {
		width: calc(100% - 40px);
	}

	.choose__var_right .btn__cta_second {
		margin-bottom: 40px;
	}

	.choose {
		padding: 10px;
	}
}

/* -------------------------------- / choose -------------------------------- */


/* ---------------------------------- upper --------------------------------- */
.upper {
	margin-top: 70px;
	margin-bottom: 70px;
	display: flex;
	justify-content: space-between;
	border-radius: 2px;
	background-color: var(--gray_light);
}

.upper .btn__cta_second {
	margin-bottom: 10px;
	display: inline-block;
	/* width: auto; */
}

.up__content {
	max-width: calc(50% - 100px);
	padding: 50px 50px 0 50px;
	margin-bottom: 20px;
}

.up__content h2 {
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: 700;
	text-align: left;
	margin-right: auto;
	color: var(--dark);
}

.up__content h3 {
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	margin-right: auto;
	color: var(--dark);
}

.up__content h4 {
	margin-bottom: 15px;
	font-size: 38px;
	font-weight: 800;
	text-align: left;
	margin-right: auto;
	text-transform: uppercase;
	letter-spacing: -1px;
	color: var(--red);
}

.up__content .right__now {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 700;
	color: var(--dark);
}

.up__content p {
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 25px;
}

.up__content p a {
	color: var(--main_firm_clr);
}

.upper span {
	display: block;
	font-size: 24px;
	margin-bottom: 25px;
	color: var(--dark);
}

.up__content .btn__cta_first {
	margin-bottom: 15px;
}

.up__content ul {
	padding-left: 20px;
	list-style-type: disc;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 20px;
}

.up__content img {
	max-width: 150px;
}

.up__img {
	max-width: calc(50% - 20px);
	margin: -20px 0px 20px 0px;
	border-radius: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	box-shadow: 0 2px 3px 0 rgb(0 0 0 / 24%);
}

.upper__one img {
	margin-right: 20px;
}

.upper__two img {
	margin-left: 20px;
}

.upper .btn__cta_first {
	display: inline-block;
}

@media screen and (max-width: 1640px) {
	.upper__one {
		margin-left: 20px;
		margin-right: 20px;
	}

	.upper__two {
		margin-right: 20px;
		margin-left: 20px;
	}

}

@media screen and (max-width: 1300px) {
	.upper {
		margin-left: 10px;
		margin-right: 20px;
		height: auto;
	}

	.up__content {
		max-width: calc(50% - 40px);
		padding: 20px 20px 10px 20px;
	}

	.up__content p {
		padding-bottom: 20px;
	}
}

/* --------------------------------- / upper -------------------------------- */


/* -------------------------------- upper two ------------------------------- */

@media screen and (max-width: 992px) {
	.upper {
		margin-left: 20px;
		margin-right: 20px;
		padding: 20px 40px 20px 40px;
		flex-direction: column;
		/* justify-content: center; */
	}

	.up__content {
		max-width: calc(100%);
		order: 2;
	}

	.up__img {
		max-width: calc(100%);
		order: 1;
		/* margin: -40px 20px 20px 20px; */
		margin: -40px 0 0 0;
	}
}

@media screen and (max-width: 670px) {
	.upper {
		margin-left: 5px;
		margin-right: 5px;
		padding: 20px 10px 20px 10px;
	}

	.up__content {
		padding: 20px 10px 10px;
		margin-bottom: 0;
	}

	.up__img {
		/* margin: -40px 0 0 0; */
	}
}

/* ------------------------------- / upper two ------------------------------ */

/* --------------------------------- banner --------------------------------- */
/* .banner__wrap  {
	padding: 20px;
}

.banner__wrap > img {
	display: block;
	width: calc(100% - 40px);
} */
/* -------------------------------- / banner -------------------------------- */


/* ------------------------------- components ------------------------------- */
.components {
	margin-bottom: 40px;
	padding: 30px;
	background-color: var(--gray_light);
}

.components__list {
	margin: 0 auto;
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
}

.component {
	width: calc(16.6% - 2 * 10px);
	margin: 20px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.component a {
	width: 100%;
	height: 100%;
	position: relative;
}

.component__name {
	bottom: 0;
	left: 0;
	width: 100%;
	position: absolute;
	padding: 10px 0;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--dark);
	color: var(--white);
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-ms-transition: .1s;
	-o-transition: .1s;
}

.component:hover .component__name {
	color: var(--black);
	background-color: var(--btn_first_hov);
}

@media screen and (max-width: 1300px) {
	.component {
		width: calc(25% - 2 * 10px);
	}
}

@media screen and (max-width: 992px) {
	.component {
		width: calc(33% - 2 * 10px);
	}
}

@media screen and (max-width: 768px) {
	.components {
		padding: 30px 0;
	}

	.component {
		width: calc(50% - 2 * 10px);
	}

	.component__name {
		font-size: 10px;
	}
}

@media screen and (max-width: 440px) {
	.component {
		width: calc(100% - 2 * 10px);
	}
}


/* ribbon */
.ribbon {
	z-index: 1;
	width: 70px;
	height: 70px;
	overflow: hidden;
	position: absolute;
}

.ribbon::before,
.ribbon::after {
	position: absolute;
	z-index: -1;
	content: '';
	display: block;
	border: 3px solid #D5162A;
}

.ribbon span {
	position: absolute;
	display: block;
	font-weight: 700;
	font-size: 10px;
	width: 152px;
	padding: 4px 0;
	background: linear-gradient(#ee2f43 0%, #ed1e24 100%);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-transform: uppercase;
	text-align: center;
}

/* ribbon pozition top right*/
.ribbon-top-right {
	top: -6px;
	right: -6px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
	border-top-color: transparent;
	border-right-color: transparent;
}

.ribbon-top-right::before {
	top: 0;
	left: 0;
}

.ribbon-top-right::after {
	bottom: 0;
	right: 0;
}

.ribbon-top-right span {
	left: -37px;
	top: 18px;
	transform: rotate(45deg);
}

/* ribbon */

/* ------------------------------ / components ------------------------------ */


/* ---------------------------------- ideas --------------------------------- */
.ideas {
	margin-bottom: 50px;
	padding: 0 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ideas__list {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 15px;
}

.idea {
	margin: 10px;
	width: calc(25% - 20px);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border: 1px solid var(--border_clr);
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}

.idea:hover {
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 16%);
}

.idea>a {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.idea__desc {
	padding: 8px 16px;
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	color: var(--dark);
}


@media screen and (max-width: 992px) {
	.ideas {
		padding: 0 20px;
	}

	.ideas__list {
		flex-wrap: wrap;
	}

	.idea {
		width: calc(50% - 30px);
	}
}

@media screen and (max-width: 768px) {
	.ideas {
		padding: 0 10px;
	}
}

@media screen and (max-width: 576px) {
	.idea {
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}
}



/* --------------------------------- / ideas -------------------------------- */


/* --------------------------------- interes -------------------------------- */
.may__interes {
	padding: 20px 40px;
	margin-bottom: 40px;
	background-color: var(--gray_light)
}

.interes__list {
	display: flex;
	flex-wrap: wrap;
}

.interes {
	margin: 20px;
	width: calc(33.3% - 40px);
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
	background-color: var(--white);
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}

.interes:hover {
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 16%);
}

.interes__desc {
	text-align: center;
	padding: 10px;
}

.interes__desc h3 {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 600;
	color: var(--btn_second);
}

.interes__desc p {
	font-weight: 500;
}

@media screen and (max-width: 1400px) {
	.interes {
		width: calc(50% - 40px);
	}
}

@media screen and (max-width: 992px) {
	.may__interes {
		padding: 20px;
	}
}

@media screen and (max-width: 768px) {
	.may__interes {
		padding: 20px 0;
	}

	.interes {
		margin: 15px;
		width: calc(100%);
	}
}

/* -------------------------------- / interes ------------------------------- */
/* ----------------------------- / page kuchyne ----------------------------- */




/* ------------------------ page Pred nakupem kuchyne ----------------------- */
/* -------------------------------- page hero ------------------------------- */
.before__buy {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.before__buy .btn__cta_first {
	margin-bottom: 15px;
}

/* ------------------------------- / page hero ------------------------------ */

/* ---------------------- / page Pred nakupem kuchyne ----------------------- */



/* ------------------------- page dispozice kuchyne ------------------------- */
.disposition {
	margin-bottom: 50px;
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.disposition a {
	margin: 20px;
	width: calc(16.6% - 2*20px);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--btn_second);
}

.disposition a:hover {
	text-decoration: underline;
}

.disposition a img {
	margin-bottom: 10px;
}

.disposition span:last-child {
	margin-top: 5px;
	font-weight: 600;
}

@media screen and (max-width: 1200px) {
	.disposition a {
		margin: 1vw 5vw;
		width: calc(33.3% - 2*5vw);
	}

	.disposition {
		padding: 0 0;
	}
}

@media screen and (max-width: 576px) {
	.disposition a {
		margin: 5px 10px;
		width: calc(50% - 2*5vw);
	}
}

/* ------------------------ / page dispozice kuchyne ------------------------ */


/* ---------------------- page montaz-zdarma-na-kuchyne --------------------- */
/* text centered block */
.txt__limited {
	max-width: 900px;
	margin-bottom: 70px;
	padding: 0 10px;
	font-size: 16px;
}


/* block realization */
.realization__list {
	display: flex;
	flex-wrap: wrap;
}

.realization__item {
	margin: 10px;
	width: calc(25% - 20px)
}

@media screen and (max-width: 1400px) {
	.realization__list {
		margin: 0 auto;
		max-width: 1100px;
	}

	.realization__item {
		margin: 10px 20px;
		width: calc(50% - 2*20px)
	}
}

@media screen and (max-width: 768px) {
	.realization__item {
		margin: 10px;
		width: calc(50% - 2*10px)
	}
}

@media screen and (max-width: 576px) {
	.realization__item {
		margin: 5px 10px;
		width: calc(100% - 2*10px)
	}
}

/* / block realization */

/* --------------------- / page montaz-zdarma-na-kuchyne -------------------- */


/* -------------------------- page Kuchyne na miru -------------------------- */

/* ---------------------------- / Kuchyne na miru --------------------------- */



/* ------------------------------ page schuzka ------------------------------ */
.app {
	max-width: 992px;
	margin: 0 auto;
}


.app__controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}

.app__controls .btn__cta_second {
	border: 0;
}

/* ----------------------------- / page schuzka ----------------------------- */



/* --------------------------------- kitchen list item -------------------------------- */
.kitchen__wrapper {
	padding: 20px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.kitchen__item {
	max-height: 440px;
	width: auto;
	margin-bottom: 60px;
	position: relative;
	overflow: hidden;
	/* width: 100%; */
	/* height: 100%; */
}

.kitchen__item:hover img {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.kitchen__item a {
	width: 100%;
	height: 100%;
}

.kitchen__item_big {
	/* margin: 0 auto; */
	/* margin-bottom: 20px; */
	width: calc(100% - 40px);
}

.kitchen__item_small {
	width: calc(50% - 20px);
}

.kitchen__items_small_wrap {
	padding: 0 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.kitchen__item img {
	width: 100%;
	max-height: 440px;
	object-fit: cover;
	overflow: hidden;
	object-position: center;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
}

.kitchen__item_desc {
	padding: 20px;
	top: 380px;
	left: -1px;
	max-width: 85%;
	position: absolute;
	width: auto;
	/* z-index: 200; */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, white 90%);
}

.kitchen__item_desc h3 {
	font-size: 38px;
	font-weight: 700;
	color: var(--black);
}

.kitchen__item_desc p {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--gray);
}

@media screen and (max-width: 1558px) {
	.kitchen__wrapper {
		padding: 20px 10px;
	}
}

@media screen and (max-width: 1400px) {
	.kitchen__item {
		/* margin-bottom: 40px; */
		max-height: 424px;
	}
	.kitchen__item img {
		max-height: 424px;
	}
	.kitchen__item_desc {
		top: 365px;
	}
}
@media screen and (max-width: 1200px) {
	.kitchen__item {
		/* margin-bottom: 20px; */
		max-height: 347px;
	}
	.kitchen__item img {
		max-height: 347px;
	}
	.kitchen__item_desc {
		top: 285px;
	}
}

@media screen and (max-width: 992px) {
	.kitchen__wrapper {
		padding: 20px 0;
	}
	.kitchen__item_small {
		width: calc(50% - 5px);
	}
	.kitchen__item {
		/* margin-bottom: 20px; */
		max-height: 266px;
	}
	.kitchen__item img {
		max-height: 266px;
	}
	.kitchen__item_desc {
		top: 210px;
	}
	.kitchen__item_desc h3 {
    font-size: 32px;
}
}

@media screen and (max-width: 768px) {
	.kitchen__item {
		max-height: 180px;
	}
	.kitchen__item img {
		max-height: 180px;
	}
	.kitchen__item_desc {
		top: 150px;
		padding: 10px;
	}

	.kitchen__item_desc h3 {
    font-size: 20px;
	}

}

@media screen and (max-width: 600px) {
	.kitchen__item {
		max-height: 160px;
	}
	.kitchen__item img {
		max-height: 160px;
	}
	.kitchen__item_desc {
		top: 130px;
		max-width: 100%;
	}
	.kitchen__item_desc h3 {
    font-size: 18px;
	}
	.kitchen__item_big {
		width: calc(100% - 10px);
	}
	.kitchen__items_small_wrap {
    padding: 0 5px;
	}
}
@media screen and (max-width: 475px) {
	.kitchen__item {
		max-height: 150px;
	}
	.kitchen__item img {
		max-height: 150px;
	}
	.kitchen__item_desc {
		top: 120px;
	}
	.kitchen__item_desc h3 {
    /* font-size: 18px; */
	}
	.kitchen__item_desc p {
    font-size: 14px;
	}
	.kitchen__items_small_wrap {
		flex-direction: column;
		justify-content: center;
	}
	.kitchen__item_small {
		width: 100%;
	}
}


/* -------------------------------- / kitchen item ------------------------------- */


/* ------------------------------ kitchen page ------------------------------ */
.kitchen__hero {
	margin-bottom: 120px;
}

.kitchen_page__item_desc h1{
	font-size: 90px;
	font-weight: 700;
}

.kitchen__hero_img {
	padding: 0 50px;
	max-height: 774px;
	/* overflow: hidden; */
	position: relative;
}

.kitchen__hero_img img {
	max-height: 774px;
	width: 100%;
}

.kitchen_page__item_desc {
	position: absolute;
	padding: 30px;
	padding-left: 10vw;
	bottom: -60px;
	left: -1px;
	width: 50vw;
	display: flex;
	align-items: center;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, white 90%);
}

.kitchen__hero_desc {
	margin-top: 80px;
	padding: 0 160px;
	display: flex;
}

.hero__desc_title,
.hero__desc_text {
	width: 50%;
}

.hero__desc_title h2 {
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 700;
	color: var(--black);
}

.hero__desc_title a {
	margin-bottom: 25px;
	font-size: 20px;
	/* font-weight: 700; */
	/* display: flex; */
	display: block;
	width: auto;
	text-transform: uppercase;
	/* position: relative; */
	color: #b2b2b2;
}

.hero__desc_title span {
	position: relative;
} 

.hero__desc_title span:after {
	content: "";
	/* background-image:url(../img/icons/calendar.svg); */
	background-image: url(../img/icons/next.svg);
	background-size: cover;
	width: 22px;
	height: 22px;
	position: absolute;
	right: -25px;
	top: 0px;
	display: block;
}

.hero__desc_text p {
	line-height: 2;
	font-size: 20px;
	/* font-weight: 600; */
}

.kitchen__short_desc {
	margin: 0 auto;
	margin-bottom: 175px;
	max-width: 926px;
	padding: 0 40px;
	overflow: hidden;
}

.short_desc_img {
	max-width: 926px;
	max-height: 615px;
	overflow: hidden;
}

.kitchen__img_wrap img {
	transition: .9s;
	-webkit-transition: .9s;
	-moz-transition: .9s;
	-ms-transition: .9s;
	-o-transition: .9s;
}

.kitchen__img_wrap img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.kitchen__short_desc p {
	margin-top: 40px;
	line-height: 2;
}

.kitchen__details {
	margin-bottom: 175px;
	padding: 0 60px;
}

.kitchen__details h2 {
	font-size: 82px;
	margin-bottom: 115px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.kitchen__details_content {
	display: flex;
	justify-content: space-between;
}

.kitchen__details_text,
.kitchen__details_img {
	width: calc(50% - 20px);
	overflow: hidden;
}

.kitchen__details_img {
	max-width: 50%;
	max-height: 683px;
}

.kitchen__details_text p {
	font-size: 21px;
	line-height: 2;
	font-weight: 400;
}

.kitchen__details_text a {
	margin-top: 60px;
	display: block;
	max-width: fit-content;
	padding: 20px 30px;
	font-weight: 700;
	font-size: 21px;
	border-radius: 6px;
	color: var(--white);
	background-color: var(--black);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	text-transform: uppercase;
}



.kitchen__width{
	padding:  0 60px;
}

.kitchen__width_img {
	max-width: 100%;
	max-height: 531px;
	overflow: hidden;
}

.kitchen__width p {
	max-width: 926px;
	margin: 0 auto;
	font-size: 21px;
	line-height: 2;
}

/* ----------------------------- / kitchen page ----------------------------- */