body {
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}

.no_scroll {
  margin: 0;
  height: 100vh;
  overflow: hidden
}

.user__page {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px;
}

.user__menu_left {
  font-size: 16px;
  width: calc(20% - 30px);
  min-width: 215px;
  margin-right: 30px;
}

.user__page_content {
  font-size: 15px;
}

.user__page_inner {
  display: flex;
  padding: 0 10px 0;
}

.user__page_content {
  width: 80%;
}


.user__pages_list_top,
.user__pages_list_bot {
  border: 1px solid #ededed;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .1);
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .1);
}

.user__pages_list_top {
  margin-bottom: 20px;
  position: relative;
}

.user__pages_list {
  overflow: hidden;
  background-color: #fff;
}

/* USER MENU LEFT */
.user__pages_link {
  padding: 5px;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #ededed; */
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.user__pages_item {
  min-height: 41px;
}

.user__pages_item:not(:last-child) {
  border-bottom: 1px solid #ededed;
}

.user__pages_link:hover {
  background-color: #ededed;
}

.user__pages_link img {
  width: 30px;
  margin-right: 10px;
}

.user__pages_link_active {
  font-weight: 600;
  background-color: #ededed;
  border-left: 1px solid #f86403;
}


/* FORM INPUTS */
.input__group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user__label {
  width: 200px;
}

.input {
  padding: 5px;
  width: 350px;
  border: 1px solid #dadada;
  outline: transparent;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .1);
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* INPUT STATES */
.input_error {
  border-color: #F44336;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(244, 67, 54, .3);
  box-shadow: 0px 1px 8px 0px rgba(244, 67, 54, .3);
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.input_success {
  border-color: rgba(76, 175, 80, 1);
  -webkit-box-shadow: 0px 1px 8px 0px rgba(76, 175, 80, .3);
  box-shadow: 0px 1px 8px 0px rgba(76, 175, 80, .3);
}


/* NOTIFY STATES */
.notify__form {
  margin: 10px 0;
  padding: 5px;
  max-width: 300px;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.notify__form_success {
  background-color: rgba(76, 175, 80, 1);
  -webkit-box-shadow: 0px 1px 8px 0px rgba(76, 175, 80, .8);
  box-shadow: 0px 1px 8px 0px rgba(76, 175, 80, .8);
}

.notify__form_error {
  background-color: rgba(244, 67, 54, 1);
  -webkit-box-shadow: 0px 1px 8px 0px rgba(244, 67, 54, .8);
  box-shadow: 0px 1px 8px 0px rgba(244, 67, 54, .8);
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}


/* BUTTONS */
.btn__submit_user_form {
  /* margin-bottom: 30px; */
  padding: 10px 30px;
  text-transform: uppercase;
  color: #fff;
  background-color: #f86403;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.btn__submit_user_form:hover {
  background-color: #FF7E1D;
}

.btn__submit_user_form:active {
  background-color: #f86403;
  box-shadow: none;
}


.input__upload {
  color: #f86403;
}

.btn__user_menu {
  display: none;
  position: relative;
}

/* PASSWORD */
.password {
  position: relative;
}

.password__control {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
}

.password__control_show {
  background: url(../img/icons/pwd_show.svg) center no-repeat;
  background-size: 20px 20px;
}

.password__control_hide {
  background: url(../img/icons/pwd_hide.svg) center no-repeat;
  background-size: 20px 20px;
}



/* INPUTS UPD */
.input__user_bank1 {
  width: 200px;
}

.input__user_bank2_label {
  width: 20px;
  display: flex;
  justify-content: center;
}

.input__user_bank2 {
  width: 130px;
}

.select__user_company_phone {
  width: 100px;
  margin-right: 20px;
}

.input__user_company_phon2 {
  width: 230px;
}


/* ACCORDEON */

.accord {
  height: 35px;
  overflow: hidden;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.accord_open {
  height: auto;
  overflow: visible;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.accord__header {
  margin-bottom: 15px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.accord__header:hover {
  background-color: rgba(0, 0, 0, .7);
}

.accord__header_icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.accord__header_icon_open {
  background: url(../img/icons/user_plus.svg) center no-repeat;
  background-size: 20px 20px;
}

.accord__header_icon_close {
  background: url(../img/icons/user_minus.svg) center no-repeat;
  background-size: 20px 20px;
}




/* ------------------------------- sdgbadfbas ------------------------------- */

.accordion {
  margin: 0 5px;
}

.acc-container {
  margin-bottom: 20px;
  max-width: 100%;
  overflow: hidden;
}

.acc-title {
  max-width: 100%;
  background: rgba(0, 0, 0, .8);
  color: #FFF;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: normal;
  position: relative;
  transition: .9s;
  -webkit-transition: .9s;
  -moz-transition: .9s;
  -ms-transition: .9s;
  -o-transition: .9s;
  display: flex;
  align-items: center;
}

.acc-title2 {
  padding: 10px 20px 10px 0;
}

.acc-active .acc-title,
.acc-title:hover {
  background-color: #565656;
  cursor: pointer;
}

.acc-active {
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .1);
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .1);
}

.acc-title:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 25 25'%3E%3Cline x1='6' y1='12.5' x2='19' y2='12.5' fill='none' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' vector-effect='non-scaling-stroke' /%3E%3Cline y1='6' x1='12.5' y2='19' x2='12.5' fill='none' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' vector-effect='non-scaling-stroke' /%3E%3C/svg%3E");
  /*Plus sign*/
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -12.5px;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.acc-active .acc-title:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 25 25'%3E%3Cline x1='6' y1='12.5' x2='19' y2='12.5' fill='none' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' vector-effect='non-scaling-stroke' /%3E%3C/svg%3E");
  /*Minus sign*/
}

.acc-content {
  width: 100%;
  height: auto;
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding: 0 20px;
  transition: .8s ease-in-out;
  -webkit-transition: .8s ease-in-out;
  -moz-transition: .8s ease-in-out;
  -ms-transition: .8s ease-in-out;
  -o-transition: .8s ease-in-out;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .1);
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .1);
}

.acc-active .acc-content {
  padding: 20px;
  height: auto;
  opacity: 1;
}



/* USER ORDERS HISTORY */
.state__order_icon {
  margin-right: 15px;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.state__order_icon_ready {
  background-color: rgba(76, 175, 80, 1);
}

.state__order_icon_procces {
  background-color: rgba(244, 67, 54, 1);
}

.order__number {
  margin-left: 5px;
}


.user_orders__history_list {
  padding: 0;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: flex-start;
}

.user_orders__history_item {
  width: calc(25% - 20px);
  margin: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.user_orders__history_item:hover {
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .1);
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .1);
}

.user_orders__history_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user_orders__history_link .img_wrap {
  margin-bottom: 10px;
  max-height: 250px;
  /* overflow: hidden; */

}

.user_orders__history_link img {
  max-height: 250px;
  width: auto;
}

.user_orders__history_link h3 {
  font-weight: 600;
}

.user_orders__history_link h4 {
  margin-bottom: 5px;
}

.user_orders__history_link h5 {
  margin-bottom: 10px;
  color: #cfcfcf;
  font-weight: 600;
}


.user_orders__history_link .price_wrapper {
  /* margin-top: 15px; */
  margin-bottom: 10px;
  display: flex;
  /* justify-content: flex-end; */
  align-items: flex-end;
  line-height: 1;
}

.user_orders__history_link .price_price {
  padding: 0;
  margin-left: auto;
  margin-right: 5px;
  font-weight: 600;
  font-size: 22px;
  color: #f86403;
}

.user_orders__history_link .price_kc {
  color: #f86403;
}



/* USER LIVE */

.helper {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: #cfcfcf;
  display: block;
  text-align: center;
  text-transform: lowercase;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

/* COOKING */
.cooking_courses {
  width: calc(50% - 20px);
  margin-bottom: 20px;
}

.cooking_courses:hover .helper {
  color: #f86403;
}

.cooking_courses_link {
  display: flex;
}

.cooking_courses__img_wrap,
.cooking__desc {
  width: 50%;
}

.cooking_courses__img_wrap {
  overflow: hidden;
}
.cooking_courses__img_wrap img {
  height: 100%;
}

.cooking__desc h2 {
  margin: 0 0 35px 0;
  padding: 0 5px;
  text-align: center;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.cooking__prop {
  margin-left: 50px;
  margin-bottom: 17px;
  display: flex;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  position: relative;
}

.cooking__prop a {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.cooking__prop_date::before,
.cooking__prop_place::before,
.cooking__prop_phone::before,
.cooking__prop_email::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -37px;
  width: 24px;
  height: 24px;
  background-size: cover;
}

.cooking__prop_date::before {
  background-image: url(../img/icons/calendar_gray.svg);
}

.cooking__prop_place::before {
  background-image: url(../img/icons/place-localizer_gray.svg);
}

.cooking__prop_contact::before {
  background-image: url(../img/icons/cooking_gray.svg);
}

.cooking__prop_phone::before {
  background-image: url(../img/icons/phone-call_gray.svg);
}

.cooking__prop_email::before {
  background-image: url(../img/icons/email_gray.svg);
}



/* EVENTS */
.events {
  width: calc(50% - 20px);
  /* height: 265px; */
  margin-bottom: 20px;
}

.events img {
  height: auto;
  width: 100%;
}


/* USER ACTIONS */
.actions__grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* padding: 0 20px; */
}

.cooking_courses {}

.events {}



/* SETTINGS */
.user__title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #ededed;
}

.user__title_helper {
  color: #cfcfcf;

}

.input__check {
  margin-left: 7px;
  margin-right: 7px;
  min-width: 20px;
  min-height: 20px;
}



/* USER MAIN */
.user__main_list {
  /* margin-top: -10px; */
  display: flex;
  flex-wrap: wrap;
}

.user__main_item {
  margin: 0 10px 30px;
  padding: 5px 5px 25px;
  width: calc(25% - 20px);
  position: relative;
  /* border: 1px solid red; */
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .1);
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, .1);
}

.user__main_big_link {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* height: 100%; */
}

.item_inner_welcome {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.item_inner_welcome h2 {
  font-size: 24px;
  max-height: 66px;
  overflow: hidden;
}

.item_welcome_img {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  margin-right: 10px;
  background: url(../img/icons/user_avatar.svg) center no-repeat;
  background-size: 60px 60px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  overflow: hidden;
}

.item__subtitle {
  margin-bottom: 15px;
  display: block;
  font-weight: 600;
}



.item__inner_grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* align-items: center; */
}

.inner_grid_link {
  margin-bottom: 10px;
  width: calc(50% - 0px);
}

.inner_grid_icon {
  max-width: 45px;
  display: flex;
  margin: 0 auto;
}

.inner_grid_icon_title {
  text-align: center;
  padding-bottom: 10px;
}

.inner_grid_img {
  max-height: 70px;
  margin: 0 auto;
  display: flex;
}

.inner_grid_img_title {
  text-align: center;
}

.user__main_item_cat_link {
  /* padding-top: 10px; */
  /* margin-bottom: 5px; */
  display: block;
  color: #f86403;
  font-weight: 600;
  position: absolute;
  bottom: 5px;
}

.user__main_item_cat_link:hover {
  color: #f86403;
}

.user__main_big_img {
  margin: 0 auto;
  height: 240px;
  width: 100%;
}



/* main media */
@media screen and (max-width: 1400px) {
  .user__main_item {
    /* margin: 0 10px 20px; */
    width: calc(33.3% - 20px);
  }
}

@media screen and (max-width: 1100px) {
  .user__main_item {
    /* margin: 0 10px 20px; */
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 850px) {
  .user__main_item {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 600px) {
  .user__page_inner {
    flex-direction: column;
    justify-content: center;
  }

  .user__page_content {
    width: 100%;
  }

  .user__pages_list_top,
  .user__pages_list_bot {
    border: 0;
    border-radius: 4px;
  }

  .user__menu_left {
    margin-right: 0;
    width: calc(100% - 30px);
    position: absolute;
    top: 180px;
    z-index: -1;
    opacity: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    overflow-y: scroll;
  }

  .black__overlay {
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
  }

  .black__overlay_show {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 3;
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
    /* width: 100%; */
    /* height: 200vh; */
    visibility: initial;
  }

  .btn__user_menu {
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: auto;
    display: block;
    z-index: 4;
  }

  /* USER MENU */
  .wrapper-menu {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
  }

  .wrapper-menu.open {
    transform: rotate(-45deg);
  }

  .line-menu {
    background-color: #f86403;
    border-radius: 5px;
    width: 100%;
    height: 3px;
  }

  .line-menu.half {
    width: 50%;
  }

  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
    -webkit-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    -moz-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    -ms-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    -o-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }

  .open .line-menu.start {
    transform: rotate(-90deg) translateX(2px);
    -webkit-transform: rotate(-90deg) translateX(2px);
    -moz-transform: rotate(-90deg) translateX(2px);
    -ms-transform: rotate(-90deg) translateX(2px);
    -o-transform: rotate(-90deg) translateX(2px);
  }

  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }

  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
    -webkit-transform: rotate(-90deg) translateX(-3px);
    -moz-transform: rotate(-90deg) translateX(-3px);
    -ms-transform: rotate(-90deg) translateX(-3px);
    -o-transform: rotate(-90deg) translateX(-3px);
  }

}

.user__menu_left_open {
  left: 15px;
  opacity: 1;
  z-index: 4;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* .hide {
  opacity: 0;
  z-index: -1;
} */


/* SAVED CART MEDIA */
@media screen and (max-width: 1300px) {
  .user_orders__history_item {
    width: calc(33.3% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .user_orders__history_item {
    width: calc(50% - 20px);
  }
}


/* USER ACTIONS MEDIA */
@media screen and (max-width: 1450px) {
  .cooking_courses,
  .events {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 1200px) {
  .cooking_courses,
  .events {
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 768px) {
  .cooking_courses_link {
    flex-direction: column;
  }
  .cooking_courses__img_wrap {
    width: 100%;
  }
  .cooking__desc {
    width: 100%;
  }
  .cooking_courses_link img {
    width: 100%;
  }
}


/* USER INFO MEDIA */
@media screen and (max-width: 900px) {
  .user__label {
    width: 100%;
    margin-bottom: 2px;
  }
  .input__group {
    flex-direction: column;
    align-items: flex-start;
  }

  .input__user_bank1 {
    width: 110px;
    display: inline;
  }
  .input__user_bank2 {
    width: 50px;
    display: inline;
  }
  .input__user_bank2_label {
    display: inline;
  }
  .select__user_company_phone {
    margin-bottom: 5px;
  }
  .label__check {
    /* margin-left: 7px; */
  }
  .input__group_check {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (max-width: 670px) {
  .input {
    width: auto;
  }
  .input__user_bank1 {
    width: 110px;
    /* display: inline; */
  }
  .input__user_bank2 {
    width: 50px;
    /* display: inline; */
  }
  .input__user_bank2_label {
    /* display: inline; */
  }
}